<div class="row">
	<div class="col-md-4 col-xs-12 no-padding">
		<div class="row">
			<div class="col-md-12 text-center">
				<img class="wl-about-illustration-responsive" src="static/img/about-illustration.png">
			</div>
			<div class="col-md-12">
				<div class="wl-balloon -green">
					<div class="wl-balloon-content">
						O <strong>WikiLibras</strong> surgiu da necessidade de expansão do
						dicionário de sinais utilizado pelo <a
							href="http://www.vlibras.gov.br/v2/">VLibras</a>, pois a língua
						de sinais é viva e novos sinais surgem diariamente. Para se criar
						um sinal utilizando um software de animação leva-se de duas a
						quatro horas de trabalho e, por esse motivo, surgiu a necessidade
						de através de alguns cliques conseguir criar uma nova animação.
					</div>
					<div class="wl-balloon-title-wrapper">
						<div class="wl-balloon-number pull-left">01</div>
						<div class="wl-balloon-title">
							Surgimento e<br> motivação
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<img class="wl-about-illustration" src="static/img/about-illustration.png">
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12 no-padding">
		<div class="wl-balloon -orange">
			<div class="wl-balloon-content">
				De forma simples e intuitiva, o <strong>WikiLibras</strong>
				possibilita a submissão de vídeos gravados pelos usuários para cada
				novo sinal; a criação de animações com apenas alguns cliques; a
				avaliação de sinais criados por outros usuários na ferramenta e a
				correção das animações, através do download e submissão da animação
				corrigida em um software de modelagem.
			</div>
			<div class="wl-balloon-title-wrapper">
				<div class="wl-balloon-number pull-left">02</div>
				<div class="wl-balloon-title">
					Detalhes do<br> WikiLibras
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12 no-padding">
		<div class="wl-balloon -blue">
			<div class="wl-balloon-content">
				<strong>WikiLibras</strong> possui diversas utilidades.<br> Uma
				delas é a possibilidade de criar dicionários regionais de sinais. Ao
				enviar um novo vídeo de um sinal, o usuário também informa a região
				onde aquele sinal é sinalizado. Dessa forma, será possível agrupar
				essses novos sinais de acordo com a sua região. Outra utilidade é a
				contribuição da própria comunidade na criação do dicionário de
				sinais. Toda a população pode contribuir na melhoria do dicionário
				enviando novos vídeos, criando animações e avaliando sinais.
			</div>
			<div class="wl-balloon-title-wrapper">
				<div class="wl-balloon-number pull-left">03</div>
				<div class="wl-balloon-title">
					Utilidade do<br> WikiLibras
				</div>
			</div>
		</div>
	</div>
</div>