<footer>
    <div class="container-fluid pybossa">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-4 "> 
                    <h1>PYBOSSA</h1>
                    <p class="dev-and-host">The ultimate crowdsourcing framework </br>to analyze or enrich data that can’t </br> be processed by machines alone.</p>
                    <p>
                </div>
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">

                    <p><strong>Resources</strong></p>
                    <p><a href="http://pybossa.com/usecases/">Use cases</a></p>
                    <p><a href="http://pybossa.com/getinspired/">Get Inspired</a></p>
                    <p><a href="http://pybossa.com/features/">Features</a></p>
                    <p><a href="http://pybossa.com/contact/">Contact</a></p>

                </div>

                <div class="col-sm-4 col-md-2 col-lg-2">

                    <p><strong>Documentation</strong></p>
                    <p><a href="http://docs.pybossa.com/en/latest/installing_pybossa.html">Server installation</a></p>
                    <p><a href="http://docs.pybossa.com/en/latest/build_with_pybossa.html">Project creation</a></p>
                    <p><a href="http://docs.pybossa.com/en/latest/user/tutorial.html">Tutorial</a></p>

                </div>

                <div class="col-sm-4 col-md-2 col-lg-2">

                    <p><strong>Tools</strong></p>
                    <p><a href="https://github.com/PyBossa/pbs#pbs---a-pybossa-command-line-interface">Command line</a></p>
                    <p><a href="https://github.com/PyBossa/enki#dead-simple-python-package-for-analyzing-pybossa-projects-results">Analysis</a></p>
                    <p><a href="https://github.com/PyBossa/pybossa-client/#dead-simple-python-client-for-pybossa">Client</a></p>

                </div>


                <div class="col-sm-4 col-md-2 col-lg-2">

                    <p><strong>Social</strong></p>
                    <p><a href="http://twitter.com/PyBossa/">Twitter</a></p>
                    <p><a href="http://github.com/PyBossa/">Github</a></p>
                </div>

            </div>

        </div>
    </div>
    <div class="container-fluid scifabric">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 col-md-offset-0 col-md-4 "> 
                    <a href="http://scifabric.com"><img alt="SciFabric Logo" class="logo_horiz" src="_static/img/scifabric-logo.svg"></a>
                    <p class="dev-and-host">Developing <a href="http://pybossa.com/">PyBossa</a></br> and hosting <a href="http://crowdcrafting.org/">Crowdcrafting</a></br> since 2011</p>
                    <p>
                    <a href="https://shuttleworthfoundation.org">
                        <img class="logo_sf" src="_static/img/logo_sf.svg" width="279"></a>
                    </p>


                </div>
                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">

                    <p><strong>Products</strong></p>
                    <p><a href="http://pybossa.com">Pybossa</a></p>
                    <p><a href="http://crowdcrafting.org">Crowdcrafting</a></p>

                </div>

                <div class="col-sm-4 col-md-2 col-lg-2">

                    <p><strong>Services</strong></p>
                    <p><a href="http://scifabric.com/crowdsourcing/training/">Training</a></p>
                    <p><a href="http://scifabric.com/crowdsourcing/pybossa-cloud-servers/">Crowdsourcing servers</a></p>
                    <p><a href="http://scifabric.com/crowdsourcing/pybossa-cloud-servers/#support">Support</a></p>

                </div>

                <div class="col-sm-offset-2 col-sm-4 col-md-offset-0 col-md-2 col-lg-2">
                    <p><strong>Company</strong></p>
                    <p><a href="http://scifabric.com/contact/">Contact</a></p>
                    <p><a href="http://scifabric.com/press/">Press</a></p>
                    <p><a href="http://scifabric.com/team/">About us</a></p>
                    <p><a href="http://scifabric.com/jobs/">Jobs</a></p>
                </div>

                <div class="col-sm-4 col-md-2 col-lg-2">

                    <p><strong>Social</strong></p>
                    <p><a href="http://scifabric.com/blog">Blog</a></p>
                    <p><a href="https://www.facebook.com/scifabric/">Facebook</a></p>
                    <p><a href="http://twitter.com/PyBossa/">Twitter</a></p>
                    <p><a href="https://www.linkedin.com/company/scifabric">LinkedIn</a></p>
                </div>

            </div>
        </div>
    </div>
</footer>
