<div id="barra-brasil">
    <div id="wrapper-barra-brasil">
        <div class="brasil-flag"><a href="http://brasil.gov.br" class="link-barra">Brasil</a></div>
        <span class="acesso-info"><a href="http://brasil.gov.br/barra#acesso-informacao" class="link-barra">Acesso à
            informação</a></span>
        <nav>
            <ul class="list">
                <li><a href="#" id="menu-icon"></a></li>
                <li class="list-item first"><a href="http://brasil.gov.br/barra#participe"
                                               class="link-barra">Participe</a></li>
                <li class="list-item"><a href="http://www.servicos.gov.br/?pk_campaign=barrabrasil" class="link-barra"
                                         id="barra-brasil-orgao">Serviços</a></li>
                <li class="list-item"><a href="http://www.planalto.gov.br/legislacao" class="link-barra">Legislação</a>
                </li>
                <li class="list-item last last-item"><a href="http://brasil.gov.br/barra#orgaos-atuacao-canais"
                                                        class="link-barra">Canais</a></li>
            </ul>
        </nav>
        <nav id="brasil-vlibras">
            <ul>
                <li><a class="logo-vlibras" href="#"></a><a href="http://www.vlibras.gov.br/" class="link-vlibras">Acessível
                    em Libras</a></li>
            </ul>
        </nav>
    </div>
</div>
<div id="main-menu" class="container-fluid container wl-nav-bar-container">
    <div class="row wl-nav-bar-wrapper">
        <div class="col-xs-4 wl-logo-wrapper">
            <a href="#wl-presentation-video" du-smooth-scroll offset="42">
                <div class="wl-logo-wrapper-img">
                    <img src="assets/img/wl-logo.png" alt="Logomarca do WikiLibras">
                </div>
                <img class="hidden-xs wl-title" src="assets/img/wl-title.png" alt="Logomarca do WikiLibras">
            </a>
        </div>
        <div class="col-xs-8 wl-scroll-links-wrapper">
            <div class="hidden-xs wl-scroll-links pull-left">
                <a href="#wl-overview" du-smooth-scroll accesskey="c">Ir para o conteúdo (alt+1)</a></span>
                <a href="#wl-presentation-video" du-smooth-scroll offset="42" accesskey="m">Ir para o menu (alt+2)</a>
            </div>
            <div class="wl-login-btn-wrapper pull-right">
                <a href="/pybossa/account/signin" class="wl-login-link">Entrar</a>
                <a href="/pybossa/account/register" class="btn btn-info wl-btn wl-participate-btn">
                    Participar
                </a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar wl-sections-link-container">
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid container">
                <div class="row">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="true">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="col-xs-12 collapse navbar-collapse pull-right" id="bs-navbar-collapse">
                        <ul class="nav navbar-nav wl-sections-link-wrapper">
                            <li><a href="#wl-presentation-video" class="section-link" du-smooth-scroll offset="42">o projeto</a></li>
                            <li><a href="#wl-overview" class="section-link" du-smooth-scroll>o que já produzimos</a></li>
                            <li><a href="#wl-features" class="section-link" du-smooth-scroll>quem faz o que </a></li>
                            <li><a href="#wl-volunteers" class="section-link" du-smooth-scroll>comunidade</a></li>
                            <li><a href="#wl-signs-and-ranking" class="section-link" du-smooth-scroll>ranking</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
