<div class="selection-panel-body" mainConfig="{{ hand }}" subConfig="orientacao" step="1">
  <div class="panel-header">
    <h8>Palma da mão</h8>
  </div>
  <div class="selection-panel-inner-body">
    <ul class="rig columns-3">
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/01.png" value="68" />1.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/02.png" value="66" />2.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/03.png" value="64" />3.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/04.png" value="2" />4.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/05.png" value="9" />5.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/06.png" value="16" />6.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/07.png" value="92" />7.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/08.png" value="90" />8.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/09.png" value="88" />9.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/10.png" value="4" />10.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/11.png" value="11" />11.</li>
      <li><img class="box-panel-option selection-panel-option"
        src="{{ server }}/img/{{ orientacao }}/12.png" value="18" />12.</li>
    </ul>
  </div>
</div>
<script type="text/javascript">
  orientation.setup("{{ hand }}", "orientacao", "1");
</script>
