<div id="wl-presentation-modal" class="modal clean-modal presentation-modal fade" tabindex="-1"
     role="dialog" aria-labelledby="wl-presentation-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="presentation-player">
                </div>
            </div>
        </div>
    </div>
</div>
