<div class="container">
	<div class="row">
		<div id="upload-warning-msg" class="alert alert-warning"
			style="display: none;"></div>
		<div id="upload-success-msg" class="alert alert-success">
			<strong>Envio concluído, muito obrigado! Em breve o seu
				sinal estará no dicionário WikiLibras.</strong>
		</div>
	</div>
</div>
<form class="form-horizontal" method="post"
	enctype="multipart/form-data">
	<fieldset>
		<input id="input-user-login" type="hidden" name="login" value=""/>

		<h2>Sentiu falta de algum sinal no dicionário? Grave e envie o
			vídeo do seu sinal aqui!</h2>
		<div class="submit-sign-form col-sm-8">
			<div class="form-group">
				<label class="control-label col-sm-3">Nome do sinal:</label>
				<div class="col-sm-5">
					<input id="input-sign-name" name="nome" class="form-control"
						placeholder="Nome do sinal" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Classe gramatical:</label>
				<div class="col-sm-5">
					<select id="input-word-class" name="classe-gramatical"
						class="form-control">
						<option value="">Selecione a classe gramatical</option>
						<option value="Verbo">Verbo</option>
						<option value="Substantivo">Substantivo</option>
						<option value="Adjetivo">Adjetivo</option>
						<option value="Advérbio">Advérbio</option>
						<option value="Pronome">Pronome</option>
						<option value="Preposição">Preposição</option>
						<option value="Conjunção">Conjunção</option>
						<option value="Artigo">Artigo</option>
						<option value="Numeral">Numeral</option>
						<option value="Interjeição">Interjeição</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Frases de exemplo (opcional):</label>
				<div class="col-sm-5">
					<textarea id="input-phrases" name="frases" class="form-control"
						rows="2"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">O sinal é nacional?</label>
				<div class="col-sm-5">
					<label class="radio-inline">
						<input type="radio" name="wl-national-sign-radio"
							class="wl-national-sign-radio" value="yes">Sim
					</label>
					<label class="radio-inline">
						<input type="radio" name="wl-national-sign-radio"
							class="wl-national-sign-radio" value="no">Não
					</label>
				</div>
			</div>
			<div id="input-state-container" class="form-group">
				<label class="control-label col-sm-3">Estado:</label>
				<div class="col-sm-5">
					<select id="input-state" name="estado" class="form-control">
						<option value="">Selecione seu Estado</option>
						<option value="Acre">Acre</option>
						<option value="Alagoas">Alagoas</option>
						<option value="Amapá">Amapá</option>
						<option value="Amazonas">Amazonas</option>
						<option value="Bahia">Bahia</option>
						<option value="Ceará">Ceará</option>
						<option value="Distrito Federal">Distrito Federal</option>
						<option value="Espirito Santo">Espirito Santo</option>
						<option value="Goiás">Goiás</option>
						<option value="Maranhão">Maranhão</option>
						<option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
						<option value="Mato Grosso">Mato Grosso</option>
						<option value="Minas Gerais">Minas Gerais</option>
						<option value="Pará">Pará</option>
						<option value="Paraíba">Paraíba</option>
						<option value="Paraná">Paraná</option>
						<option value="Pernambuco">Pernambuco</option>
						<option value="Piauí">Piauí</option>
						<option value="Rio de Janeiro">Rio de Janeiro</option>
						<option value="Rio Grande do Norte">Rio Grande do Norte</option>
						<option value="Rio Grande do Sul">Rio Grande do Sul</option>
						<option value="Rondônia">Rondônia</option>
						<option value="Roraima">Roraima</option>
						<option value="Santa Catarina">Santa Catarina</option>
						<option value="São Paulo">São Paulo</option>
						<option value="Sergipe">Sergipe</option>
						<option value="Tocantins">Tocantins</option>
						<option value="Nacional">Nacional</option>
					</select>
				</div>
			</div>
			<div id="input-city-container" class="form-group">
				<label class="control-label col-sm-3">Cidade (opcional):</label>
				<div class="col-sm-5">
					<input id="input-city" name="cidade" class="form-control"
						placeholder="Nome da sua cidade" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Arquivo do sinal:</label>
				<div class="col-sm-5">
					<input id="input-sign-upload" type="file" name="video" />
				</div>
				<div id="upload-progress-container" class="col-sm-5">
					<div id="upload-progress" class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="0"
							aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
					</div>
				</div>
			</div>
			<div class="form-actions">
				<label class="control-label col-sm-3"></label>
				<button type="button" name="btn" class="btn btn-primary btn-lg disabled">Enviar</button>
			</div>
	</fieldset>
</form>
