/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'bootstrap'
 *= require 'bootstrap_overrides'
 *= require 'v_libras/videos'
 *= require 'components/ribbon'
 *= require 'components/video_player'
 *= require_self
 */

.login {
  padding: 3% 4%;
  text-align: center;
  background-color: #68727c;
  color: #ffffff;

  -moz-box-shadow: 0 0 1.5px 1.5px #ffffff;
  -webkit-box-shadow: 0 0 1.5px 1.5px #ffffff;
  box-shadow: 0 0 1.5px 1.5px #ffffff;

  h2 {
    color :#ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;

    -moz-box-shadow: 0 0 1px 1px #CCC;
    -webkit-box-shadow: 0 0 1px 1px #CCC;
    box-shadow: 0 0 1px 1px #CCC;
  }

  h3 {
    text-align:center;
    color:#ffffff;
    text-shadow: 1px 1px #AAA;
  }
}

.btn-color {
  background-color: #8a76e7;
}

#login-video {
  margin-left: 20%;
  margin-top: 5%; 
}

