{% macro render_account_local_nav(current_user, active_link) -%}
<div class="container-fluid navbar-sub">
  <div class="container">
    <ul class="nav nav-pills nav-justified nav-pills-inverse">
        <li role="presentation" {% if active_link=="profile"%}class="active"{% endif %}><a href="{{url_for('account.profile', name=current_user.name)}}">{{ _('My Profile') }}</a></li>
        {% if current_user.admin %}
        <li role="presentation" {% if active_link=="projects"%}class="active"{% endif %}><a href="{{url_for('account.projects', name=current_user.name)}}">{{ _('My Projects') }}</a></li>
        {% endif %}
        <li role="presentation" {% if active_link=="settings"%}class="active"{% endif %}><a href="{{url_for('account.update_profile', name=current_user.name)}}">{{ _('My Settings') }}</a></li>
        {% if current_user.admin %}
        <li role="presentation" {% if active_link=="admin"%}class="active"{% endif %}><a href="{{url_for('admin.index')}}">{{ _('Admin Site') }}</a></li>
        {% endif %}
    </ul>
  </div>
</div>
{% endmacro %}

{% macro render_twitter_btn(project) %}
<a href="https://twitter.com/share" class="twitter-share-button"
    data-text="{{ _('I\'ve done') }} {{project.c}} {{ _('tasks for the @PyBossa project:') }} {{project.name}}. {{ _('Do you want to help?') }} {{url_for('project.details',short_name=project.short_name,_external=True)}}"
    data-count="none">{{ _('Tweet') }}</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endmacro %}

{% macro render_googlePlus_btn(project) %}
<!-- Place this tag in your head or just before your close body tag. -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {parsetags: 'explicit'}
</script>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-size="medium" data-annotation="none" data-href="{{url_for('project.details',short_name=project.short_name,_external=True)}}"></div>

<!-- Place this render call where appropriate. -->
<script type="text/javascript">gapi.plusone.go();</script>
{% endmacro %}


{% macro render_user_profile(user, upload_method, settings, private=True) %}
<div class="row">
    <div class="col-md-3">
        {{ render_user_thumbnail(user, upload_method, class="img-thumbnail") }}
    </div>
    <div class="col-md-9">
      <ul class="list-unstyled">
        <li><i class="glyphicon glyphicon-user"></i> <strong>{{ _('Nick')}}</strong>: {{ user.name }}</li>
        <li><i class="glyphicon glyphicon-certificate"></i> <strong>{{ _('Profile')}}</strong>: {{ user.profile.name }}</li>
        {% if private %}
        <li><i class="glyphicon glyphicon-envelope"></i> <strong>{{_('E-mail')}}</strong>: {{
                user.email_addr }} 
            {% if (user.valid_email == False) %}
              {% if (user.confirmation_email_sent == False) %}
              <a href="{{ url_for('account.confirm_email')}}" class="btn btn-sm">Validate email</a>
              {% else %}
              <a href="#" class="btn btn-sm disabled">Email sent for
                  validation</a>
              {% endif %}
            {% endif %}
        </li>
        {% endif %}
        {% if user.rank %}
        <li><i class="glyphicon glyphicon-th-list"></i> <strong>{{ _('Rank')}}</strong>: 
                {% if private %}
                <a href="{{url_for('leaderboard.index')}}">
                {% endif %}
                {% if not settings %}
                {{ user.rank }} {{_('of')}} {{user.total}} {{ _('with a Score of')}} {{user.score}} {{ _('contributed tasks')}}
                {% else %}
                {{ user.rank }}
                {% endif %}
                {% if private %}</a>{% endif %}
                
        </li>
        {% else %}
        <li><i class="glyphicon glyphicon-th-list"></i> <strong>{{ _('Rank') }}</strong>: {{ _('The user has not contributed to any tasks yet') }}</li>
        {% endif %}
        {% if not private %}
        <li><i class="glyphicon glyphicon-time"></i> <strong>{{ _('Joined') }}</strong>: {{ user.created[0:10]}}</li>
        {% endif %}
        {% if settings %}
        <li><i class="glyphicon glyphicon-wrench"></i> <strong>{{ _('API key') }}</strong>: {{ user.api_key }}</li>
        {% endif %}
      </ul>
        {% if private and not settings%}
        <a href="{{ url_for('account.update_profile', name=user.name) }}" class="btn btn-primary"><i class="icon icon-user"></i> {{ _('Edit your profile') }}</a>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro render_user_thumbnail(user, upload_method, id, class, style) %}
    {% if user.info and user.info.avatar %}
        {% if upload_method == 'rackspace'%}
        <img id="{{id}}" class="{{class}}" style="{{style}}" width="100%" src="{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onerror="imgError(this, 'user');">
        {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" width="100%" src="{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onerror="imgError(this, 'user');">
        {% endif %}
    {% else %}
        <img id="{{id}}" class="{{class}}" style="{{style}}" width="100%" src="{{ url_for('static', filename='img/placeholder.user.png')}}">
    {% endif %}
{% endmacro %}

{% macro render_registering_user_thumbnail(user, upload_method, avatar_upload_id) %}
	{% if avatar_upload_id and avatar_upload_id != '' %}
		<img width="100%" src="{{ url_for('uploads.uploaded_file', filename=('tmp/' ~ avatar_upload_id + '_avatar.png'))}}">
	{% else %}
        {{ render_user_thumbnail(user, upload_method) }}
    {% endif %}
{% endmacro %}

{% macro render_pagination(pagination) %}
  <nav>
      <ul class="pagination pagination-centered">
        {% if pagination.has_prev %}
          <li>
            <a href="{{ url_for_other_page(pagination.page - 1) }}" aria-label="{{_('Prev')}}">&laquo; {{_('Prev')}}</a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#" aria-label="{{_('Prev')}}" aria-label="{{_('Prev')}}"><span aria-hidden="true">&laquo; {{_('Prev')}}</span></a>
          </li>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li>
              <a href="{{ url_for_other_page(page) }}">{{ page }}</a>
            </li>
            {% else %}
            <li class="active">
                <a href="#">{{ page }}</a>
            </li>  
            {% endif %}
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
          <li>
            <a href="{{ url_for_other_page(pagination.page + 1) }}">{{_('Next')}} &raquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#" aria-label="{{_('Next')}}"><span aria-hidden="true">{{_('Next')}} &raquo;</span></a>
          </li>
        {% endif %}
    </ul>
  </nav>
{% endmacro %}


{% macro render_avatar(user, upload_method, class, width) %}
{% if user.info.avatar %}
    {% if upload_method == 'rackspace'%}
    <img class="{{class}}" width="{{width}}" src="{{ url_for('rackspace', filename=user.info.avatar, container=user.info.container)}}" onerror="imgError(this, 'user');">
    {% else %}
    <img class="{{class}}" width="{{width}}" src="{{ url_for('uploads.uploaded_file', filename=(user.info.container + '/' + user.info.avatar))}}" onerror="imgError(this, 'user');">
    {% endif %}
{% else %}
<img class="{{class}}" width="{{width}}" src="{{url_for('static', filename='img/placeholder.user.png')}}">
{% endif %}
{% endmacro %}
