{% extends "base.html" %}
{% set active_page = "account" %}
{% import "account/_helpers.html" as helper %}
{% from "projects/_helpers.html" import render_grid_projects, broken_image %}
{% import "privacy/locked.html" as privacy %}

{% block content %}
<div class="container">
        {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
        {{ privacy.render_lock_page() }}
        {% else %}
        <section id="user-data">
            <h1><strong>{{user.fullname}}</strong></h1>
            {{ helper.render_user_profile(user, upload_method, settings=False, private=False) }}
        </section>
        {% if projects_created %}
        <section id="created-projects" style="margin-top:10px;">
            {{render_grid_projects(projects_created, "Created Projects", upload_method)}}
        </section>
        {% endif %}
        {% if projects %}
        <section id="contributed-projects" style="margin-top:10px;">
            {{render_grid_projects(projects, "Contributions", upload_method)}}
        </section>
        {% endif %}
        {% endif %}
</div>
{{ broken_image() }}
<script>
$("a[rel=popover]").popover({
    html: true,
    animation: true,
    trigger: 'hover',
    placement: 'top'
});
</script>
{% endblock %}
