{% extends "base.html" %}
{% import "account/_helpers.html" as helper %}

{% block content %}

<div class="container">
{% from "_formhelpers.html" import render_field %}
<script src="{{url_for('static', filename='js/vendor/jquery.Jcrop.min.js')}}"></script>
<script src="{{url_for('static', filename='js/image_crop.js')}}" type="text/javascript"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery.Jcrop.min.css')}}" type="text/css" />

<p style="padding-top:5px;">
<span class="label label-warning"><i class="glyphicon glyphicon-bullhorn"></i> {{ _('Note') }}</span> 
    {{ _('By click the') }} 
    <strong>{{ _('Create account button') }}
    </strong>{{ _('below you are agreeing to the') }}
    <a target="blank" href={{terms_of_use | safe}}>{{ _('terms of use') }} </a>{{ _('and') }} 
    <a href={{data_use | safe}}>{{ _('data') }}</a>.
</p>

  <legend>{{ _('Create an account') }}</legend>
  <form method="post" class="form-horizontal wl-register-form" action="{{ url_for('account.register') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
     <fieldset class="upload-container">
         <div class="col-md-2 img-thumbnail">
          {{ form.hidden_tag() }}
          {{ helper.render_registering_user_thumbnail(current_user, upload_method, avatar_upload_id)}}
         </div>
	     {{ render_field(upload_form.avatar, onchange="previewImage()") }}
	     {{ upload_form.x1 }}
	     {{ upload_form.y1 }}
	     {{ upload_form.x2 }}
	     {{ upload_form.y2 }}
	     <img id="uploadPreview">
	     <div class="form-actions">
	         <button type="submit" name='btn' value="Upload" class="btn btn-primary btn-lg" />{{ _('Upload') }}</button>
	     </div>
      </fieldset>
      <fieldset>
      {{ render_field(form.fullname, placeholder= _('my full name')) }}
      {{ render_field(form.name, placeholder= _('myusername')) }}
      {{ render_field(form.email_addr, placeholder= _('hello@mywebsite.org')) }}
      {{ render_field(form.password, placeholder= _('my secret password')) }}
      {{ render_field(form.confirm, placeholder= _('my secret password')) }}
      {{ render_field(form.profile) }}
      <input id="avatar_upload_id" name="avatar_upload_id" type="hidden" value="{{ avatar_upload_id }}">
      <div class="form-actions">
        <input type="submit" value="{{ _('Create an account') }}" class="btn btn-primary btn-lg" />
        <input type="reset" value="{{ _('Cancel') }}" class="btn btn-default btn-lg" />
      </div>
      </fieldset>
  </form>
<script src="{{url_for('static', filename='js/forms.js')}}" type="text/javascript"></script>
</div>
{% endblock %}
