/*
 * WikiLibras theme
 */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/opensans.woff2) format('woff2'), url(fonts/opensans.woff) format('woff');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Web Bold';
    src: url('fonts/titilliumweb/TitilliumWeb-Bold.ttf') format('truetype');
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 166px; /* bottom = footer height */
    padding-top: 53px;
    font-family: 'Open Sans', sans-serif;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0f78a7;
    color: white;
}

footer a {
	color: white;	
}

.wl-footer-lavid-logo {
	max-width: 112px;
	width: 100%;
}

.wl-social-container {
	text-align: center;
}

@media (max-width: 768px) {
    body {
        margin: 0;
    }
    footer {
        position: relative;
    }
}

.wikilibras-navbar, .wikilibras-navbar .navbar-nav>.open>.dropdown-menu {
	background-color: #0f78a7;
}

.wikilibras-navbar .navbar-nav>.open>.dropdown-menu>li>a {
	color: white;
}

.wikilibras-navbar .navbar-nav>.open>.dropdown-menu>.divider {
	background-color: white;
	margin: 0;
	height: 1px;
}

.wikilibras-navbar a {
	color: white;
}

/* Projects */
.projects {
	padding-top: 30px;
	padding-bottom: 15px;
}

a.title-brand:link {
    font-size:24px;
    font-weight:700;
    line-height:1.042
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
    line-height: 1.5em;
}
.section-inverse {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #fff;
}
.box {
    margin: 60px 0 20px 0;
    padding: 30px 50px;
    border: dotted 2px #BDC3C7;
}
.social-buttons {
    margin-top: 25px;
    font-size: 2em;
}
.carousel-caption {
}
.carousel-inner .item img {
    -webkit-filter: brightness(40%); 
    filter: brightness(40%);
}
.page-title {
    text-align: center;
    margin-bottom: 30px;
}
.nav-main {
    margin-top: 30px;
    margin-bottom: 30px;
}
.title-main {
    margin-top: 160px;
}
@media (max-width: 768px) {
    .title-main {
        margin-top: 10px;
    }
}
.alert-messages {
    margin-top: 20px;
}
.app-banner {
    background: url("../img/apps.jpg") center top;
    color: #fff;
    padding-bottom: 30px;
}
.app-banner-title {
    font-size: 2.8em;    
}
.app-banner-subtitle {
    line-height: 1.4em;
    margin-bottom: 30px;
}
@media (max-width: 768px) {
    .carousel-caption {
        padding: 0;
    }
    .app-banner-subtitle {
        margin: 0;
        margin-bottom: 5px;
        font-size: 0.8em;
    }
    .app-banner-title {
        font-size: 1.3em;    
    }
    .app-banner-btn {
        margin: 0;
        padding: 0;
    }
    .app-banner-btn a:link {
        font-size: 0.8em;
    }
}
.container-msg {
    margin-top: 30px;
}
.container-main,
.app-description {
    padding-top: 40px;
    padding-bottom: 30px;
}
.app-description p {
    font-size: 1.2em;
}
.app-call-to-action {
    text-align: center;
}
.app-call-to-action a:link {
    font-size: 1.5em;
}
@media (max-width: 768px) {
    .app-call-to-action a:link {
        font-size: 0.7em;
    }
}
.nav-main > a:link {
    font-size: 1.2em;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small
h6 small {
    color: #999;
    margin-left: 3px;
    padding-left: 10px;
}
.col-progress {
    padding-top: 10px;
}

.tile-extended {
    position:relative;
    margin-bottom:20px;
    text-align: center;
    background-color:#eff0f2;
    border-radius:6px;
}
.tile-extended p,
.tile p {
    margin: 0;
    text-align: left;
    font-size: 0.8em;
}
.tile-extended .tile-title {
    display: block;
    margin: 6px 0;
    padding: 10px;
    font-size:20px;
    position: absolute;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    bottom: 105px;
    height: auto;
    width: 100%;
    line-height: 20px;
}
.tile-extended .tile-text {
    margin: 0 14px;
    padding: 10px 0;
}

/* Cookies banner */
#cookies_warning {
    position: fixed;
    color: rgb(221, 221, 221);
    min-height: 30px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 99999;
    padding: 6px 20px 4px;
    background-color: rgba(70, 70, 70, 0.9);
    text-align: left;
}

#cookies_warning > p {
    margin-top: 8px;
}

.navbar-sub {
  background-color: #1BBC9C;
  border-color: #080808;
}
.navbar-sub .navbar-nav > li > a {
  color: #fff;
}
.navbar-sub .navbar-nav > li > a:hover,
.navbar-sub .navbar-nav > li > a:focus {
  color: #1BBC9C;
  background-color: #fff;
}
.alert-message {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-message hr {
  border-top-color: #a6e1ec;
}
.alert-message .alert-link {
  color: #245269;
}

/* Bootstrap overhide */
.navbar {
    border-radius: 0;
}
.btn {
    border-radius: 0;
}
.navbar-collapse .navbar-nav.navbar-right:last-child > .dropdown:last-child > a {
    border-radius: 0;
}
.nav > li > a {

}
.nav-pills > li > a {
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
}
.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
    background-color: #fff;
    color: #34495E;
}
.nav-pills > li.active > a {
    background-color: #1BBC9C;
    color: #34495E;
}
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    background-color: #fff;
    color: #34495E;
}
.nav-pills-inverse > li > a {
    color: #fff;
}
.btn-default {
  color: #fff;
  background-color: #875596;
  border-color: #875596;
}
.btn-default:focus,
.btn-default.focus {
  color: #fff;
  background-color: #9678b0;
  border-color: #9678b0;
}
.btn-default:hover {
  color: #fff;
  background-color: #9678b0;
  border-color: #9678b0;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #fff;
  background-color: #9678b0;
  border-color: #9678b0;
}
.btn-link:hover,
.btn-link:focus,
.btn-link.focus,
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  text-decoration: none;
}
.well {
  background: none;
  border: dotted 2px #BDC3C7;
  border-radius: 0;
}
.alert-success {
 color: #1ABC9C;
 background-color: #afe8dc;
 border-color: #afe8dc;
}
.alert-info {
 color: #6F9CA2;
 background-color: #d9edf7;
 border-color: #d9edf7;
}
.alert-warning {
 color: #B59D5A;
 background-color: #FFE7AB;
 border-color: #FFE7AB;
}
.alert-danger {
 color: #A45E4D;
 background-color: #F8AFAB;
 border-color: #F8AFAB;
}
.pagination > li > a,
.pagination > li > span {
  color: red;
  text-decoration: none;
  background-color: blue;
  border: 1px solid #ddd;
}
.upload-container {
  padding-bottom: 30px;
}
.upload-container .form-actions {
  padding-top: 10px;
}

.wl-register-form {
	margin-bottom: 24px;
}

/* Home */
#wl-features {
    position: relative;
    background: #ffffff;
    z-index: 1;
}

.wl-features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0;
}

.wl-features-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding: 75px 0;
}

.wl-feature {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 20px;
}

.wl-feature .wl-feature-img {
    margin-bottom: 28px;
}

.wl-feature .wl-feature-btn {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.wl-feature .wl-feature-description {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.wl-features-wrapper.-green {
    background: #99f35d;
}

.wl-features-wrapper.-yellow {
    background: #f9dd24;
}

.wl-features-wrapper.-blue {
    background: #b6cfed;
}

.wl-features-wrapper .wl-ellipse-wrapper {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(42px, -42px);
    width: 85px;
    height: 85px;
    border-radius: 50% 50%;
    background: #ffffff;
    z-index: 1;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    line-height: 80px;
}

/* About */
.no-padding {
	padding: 0;
}

.wl-balloon {
	position: relative;
	padding: 20px 50px 190px 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wl-balloon-content {
	display: table-cell;
	vertical-align: middle;
	height: 262px;
	text-align: center;
	font-size: 14px;
}

.wl-balloon-title-wrapper {
	position: absolute;
	bottom: 50px;
	margin-left: 15px;
}

.wl-balloon-number {
	font-family: 'Titillium Web Bold';
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -3.2px;
}

.wl-balloon-title {
	font-family: 'Roboto Medium';
	font-size: 18px;
    padding-left: 70px;
    padding-top: 37px;
    line-height: 20px;
}

.wl-balloon.-green {
	margin-top: 20px;
	background-image: url('../img/green-balloon.png');
	z-index: 3;
}

.wl-balloon.-green .wl-balloon-number {
	color: #7ed17b;
}

.wl-balloon.-green .wl-balloon-title {
	color: #368232;
}

.wl-balloon.-orange {
	color: white;
    padding-bottom: 210px;
	background-image: url('../img/orange-balloon.png');
	z-index: 2;
}

.wl-balloon.-orange .wl-balloon-number {
	color: #c87433;
}

.wl-balloon.-orange .wl-balloon-title {
	color: #8c4712;
}

.wl-balloon.-blue {
	color: white;
	padding-bottom: 250px;
	background-image: url('../img/blue-balloon.png');
	z-index: 1;
}

.wl-balloon.-blue .wl-balloon-number {
	color: #4c96a6;
}

.wl-balloon.-blue .wl-balloon-title {
	color: #3a7f8e;
}

.wl-about-illustration-responsive {
	width: 200px;
	margin-top: 25px;
}

.wl-about-illustration {
	display: none;
    width: 200px;
    margin-left: 68px;
}

@media screen and (min-width: 768px) {
    .wl-social-container {
		text-align: left;
    }
}

@media screen and (min-width: 992px) {
	.wl-balloon.-green {
		margin-right: -110px;
	}
	.wl-balloon.-orange {
		margin-top: 220px;
		margin-right: -110px;
	}
	.wl-balloon.-blue {
		margin-top: 440px;
		margin-right: -58px;
	}
	.wl-about-illustration {
		display: block;
	    margin-top: 100px;
	}
	.wl-about-illustration-responsive {
		display: none;
	}
}
