.submit-sign-form {
	background-color: #556575;
	color: #FFFFFF;
	padding: 30px;
	border-radius: 6px;
	margin-bottom: 20px;
}

.submit-sign-form .btn {
	margin-left: 7px;
}

#upload-progress-container {
	display: none;
	padding-top: 15px;
}

#upload-progress {
	margin-bottom: 0px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

#submit-sign-container h2 {
	margin-top: 0px;	
}

#upload-success-msg {
	display: none;
}

.radio-inline .wl-national-sign-radio {
	margin-top: 12px;
}

#input-state-container, #input-city-container {
	display: none;
}
