#teached-signs-container .teached-signs-msg[type=one] {
	display: none;
}

#teached-signs-container .teached-signs-msg[type=more] {
	display: none;
}

#teached-signs-container .col-btn {
	padding-right: 5px;
	margin-bottom: 10px;
}

#teached-signs-container .modal-xlg {
	width: 100%;
}

#teached-signs-container .modal-content {
	background: none;
	border: none;
	box-shadow: none;
}

#teached-sign-name {
	color: #ffffff;
	font-weight: bold;
}

#teached-sign-video-container video {
	height: 100%;
	width: 100%;
}