{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% from "account/_helpers.html" import render_account_local_nav %}

{% block content %}

{{ render_account_local_nav(current_user, active_link) }}
<div class="container">

    <div id="categories">
        <h1><strong>{{ _('Admin Site') }}:</strong> {{ _('Manage Categories') }}</h1>
        <div class="row">
            <div id="add" class="col-md-12">
                {% from "_formhelpers.html" import render_field %}
                <form class="form-horizontal" method="POST" action="{{url_for('admin.categories')}}">
                    {{form.hidden_tag()}}
                    <fieldset>
                    {{ render_field(form.name, placeholder= _('Category name')) }}
                    {{ render_field(form.description, placeholder= _('Category description')) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{_('Add Category')}}</button>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
        {% if categories %}
        <h1>{{_('List of Available Categories')}}</h1>
        <hr>
        <table class="table">
            {% for c in categories %}
            <tr>
                <td>{{c.name}} ({{n_projects_per_category[c.short_name]}} projects)</td>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="{{url_for('admin.update_category', id=c.id)}}" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> {{_('Edit Category Name')}}</a>
                        {% if n_projects_per_category[c.short_name] == 0 and (categories | count > 1) %}
                        <a href="{{url_for('admin.del_category', id=c.id)}}" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> {{_('Delete Category')}}</a>
                        {% else %}
                        <a href="#" class="btn btn-danger" disabled><i class="glyphicon glyphicon-trash"></i> {{_('Delete Category')}}</a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
