{% extends "base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% from "account/_helpers.html" import render_account_local_nav %}

{% block content %}

{{ render_account_local_nav(current_user, active_link) }}
<div class="container">
    <h1><strong>{{ _('Admin Site') }}:</strong> {{title}}</h1>
    <div class="alert alert-danger">
        <strong>{{ _('Danger Zone!') }}</strong> {{ _('Deleting the category will remove it from all the projects! This operation cannot be undone!') }}
    </div>
    <h2>{{_('Delete Category')}}: {{category.name}}?</h2>
    <form method="post" action="{{url_for('admin.del_category', id=category.id)}}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input class="btn btn-danger" type="submit" value="Yes"></input>
        <a class="btn btn-primary btn-lg" href="{{url_for('admin.categories')}}">{{ _('No, do not delete it') }}</a>
    </form>
</div>
{% endblock %}
