{% extends "/base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% from "account/_helpers.html" import render_account_local_nav %}
{% from "projects/_helpers.html" import render_project_admin_featured, broken_image %}

{% block content %}

{{ render_account_local_nav(current_user, active_link) }}
<div class="container">
    <h1><strong>{{ _('Admin Site') }} :</strong> {{ _('Manage featured projects') }}</h1>
    {% include "admin/js/featured_projects.js" %}
    <ul class="nav nav-tabs">
        {% for c in categories %}
        <li {% if loop.first %}class="active"{% endif %}>
        <a href="#{{c.short_name}}" data-toggle="tab">{{c.name}}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for c in categories %}
        <div {% if loop.first %}class="tab-pane active" {% else %} class="tab-pane" {% endif %} id="{{c.short_name}}">
            {% for project in projects[c.short_name] %}
            {{ render_project_admin_featured(project, upload_method) }}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>{% endblock %}
