#vlibras-wizard {
  #b1_size_big, #b2_size_big, #b1_size_med, #b2_size_med, #b1_size_small, #b2_size_small {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  #b1_size_big, #b2_size_big {
    width: 350px;
    img { width: 350px; }
    z-index: 1;
  }

  #b1_size_med, #b2_size_med {
    width: 280px;
    img { width: 280px; }
    z-index: 2;
  }

  #b1_size_small, #b2_size_small {
    width: 220px;
    img { width: 220px; }
    z-index: 3;
  }

  .actions {
    display: none;
  }

  img {
    border: 0;
  }

  .wrapper {
    margin: 0 auto;
  }

  label {
    line-height: 32px;
  }
}