body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 60px;
	box-shadow: 1px 1px 2px #c2c2c2;

	> p {
		-webkit-font-smoothing: antialiased;
		text-align: center;
		position: relative;
		top: 13px;
		font-family: 'Open Sans Light',X-LocaleSpecific-Light,'Open Sans',X-LocaleSpecific,sans-serif;
		font-weight: normal;
		line-height: 100%;
		text-shadow: 0 1px 0 rgba(255,255,255,0.75);
		color: #484848;
		font-size: 30px;
	}
}

.main-container {
	width: 100%;
	display: table;

	.table-wl {
		width: 70%;
		margin: 0 auto;
		margin-top: 40px;

		tbody {
			tr {
				._success {
					color: #85D42A;
					font-weight: bold;
				}

				._error {
					color: red;
					font-weight: bold;
				}

				._processing {
					color: #c2c2c2;
					font-weight: bold;
				}
			}
		}
	}
}