@import url('brasil-bar.css');

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Light.ttf') format('truetype');
}

html, body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    color: #2d2d2d;
}

img {
    max-height: 100%;
    max-width: 100%;
}

/* Components */
.wl-btn {
    font-weight: bold;
    color: #ffffff;
    background-color: #33a0d1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.wl-btn:hover {
    background-color: #337ab7;
}

.clean-modal .modal-content {
    background: none;
    border: none;
    box-shadow: none;
}

/* Header */
#wl-header {
    position: relative;
    z-index: 1;
}

.wl-nav-bar-container {
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
}

.wl-nav-bar-wrapper {
    height: 35px;
}

.wl-logo-wrapper-img {
    position: absolute;
    top: -5px;
    height: 80px;
    width: 80px;
    z-index: 1;
    cursor: pointer;
}

.wl-title {
    padding-left: 85px;
    cursor: pointer;
}

.wl-scroll-links-wrapper {
    position: relative;
    font-size: 12px;
    height: 100%;
    font-weight: bold;
}

.wl-scroll-links {
    position: absolute;
    bottom: 0;
}

.wl-scroll-links a {
    padding-right: 22px;
    cursor: pointer;
    color: #2d2d2d;
}

.wl-login-btn-wrapper {
    height: 100%;
    font-size: 14px;
    text-transform: uppercase;
}

.wl-login-link {
    float: left;
    font-weight: bold;
    color: #33a0d1;
    padding: 10px 35px 0 0;
}

.wl-participate-btn {
    float: left;
    padding: 9px 12px;
}

.wl-sections-link-container {
    min-height: 43px;
    background-color: #0f78a7;
    margin: 0;
}

.wl-sections-link-wrapper {
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: right;
    padding-top: 12px;
    margin-left: 0;
    margin-right: 0;
}

.wl-sections-link-container .navbar-toggle {
    border-color: white;
}

.wl-sections-link-container .navbar-toggle .icon-bar {
    background: white;
}

.wl-sections-link-wrapper .section-link {
    padding: 0 20px 0 0;
    cursor: pointer;
    color: white;
}

.wl-sections-link-wrapper .section-link:hover,
    .wl-sections-link-wrapper .section-link:focus {
    background-color: transparent;
}

/* Sections */
.wl-section-title {
    position: absolute;
    top: -15px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald';
    z-index: 1;
    width: 100%;
    margin: 0 auto;
}

.wl-section-title .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 5px 0;
    background-color: #0f78a7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.wl-section-title a {
    text-decoration: none;
}

.wl-section-description {
    margin-top: 40px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

/* Presentation Section */
#wl-presentation-video {
    height: 100vh;
    background: url('../img/wl-presentation-video.png') no-repeat center fixed;
    background-size: cover;
    z-index: 0;
}

.wl-video-control-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.wl-video-control-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -142px;
    margin-left: -62px;
    cursor: pointer;
}

.wl-video-control-wrapper img:hover {
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
}

.presentation-modal .modal-dialog {
    width: auto;
    height: 85%;
    margin: 45px 30px 45px 45px;
}

.presentation-modal .modal-content {
    height: 100%;
}
.presentation-modal .modal-body {
    height: 100%;
    padding: 0;
}

#presentation-player {
    width: 100%;
    height: 100%;

}

/* Contribution Overview Section */
#wl-overview {
    position: relative;
    color: #2d2d2d;
    background: #ffffff;
    z-index: 1;
    padding-bottom: 30px;
}

.wl-overview-progress-wrapper {
    padding-bottom: 20px;
}

.wl-overview-progress .title {
    font-size: 18px;
    font-weight: bold;
    color: #545454;
    padding-bottom: 15px;
}

.wl-overview-progress .value {
    font-weight: bold;
}

.wl-overview-progress .progress-values .col-xs-4:nth-last-child(1) {
    text-align: right;
}

.wl-overview-progress .progress-values .col-xs-4:nth-last-child(2) {
    text-align: center;
}

.wl-overview-progress .progress {
    border-radius: 7px;
    background-color: #cecece;
    height: 13px;
}

.wl-overview-progress .progress-bar {
    background-color: #d3873c;
    border-radius: 7px;
}

.wl-overview-progress .progress-bar.-brown {
    background-color: #d3873c;
}

.wl-overview-progress .progress-bar.-yellow {
    background-color: #f9dd24;
}

.wl-overview-progress .progress-bar.-blue {
    background-color: #25ace3;
}

.wl-overview-progress .progress-bar.-green {
    background-color: #8CE81C;
}

/* Features Section */
#wl-features {
    position: relative;
    background: #ffffff;
    z-index: 1;
}

.wl-features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0;
}

.wl-features-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding: 75px 0;
}

.wl-feature {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 20px;
}

.wl-feature .wl-feature-img {
    margin-bottom: 28px;
}

.wl-feature .wl-feature-btn {
    padding: 10px 50px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.wl-feature .wl-feature-description {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.wl-features-wrapper.-green {
    background: #99f35d;
}

.wl-features-wrapper.-yellow {
    background: #f9dd24;
}

.wl-features-wrapper.-blue {
    background: #b6cfed;
}

.wl-features-wrapper .wl-ellipse-wrapper {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(42px, -42px);
    width: 85px;
    height: 85px;
    border-radius: 50% 50%;
    background: #ffffff;
    z-index: 1;
    text-align: center;
    font-size: 24px;
    vertical-align: middle;
    line-height: 80px;
}

/* Volunteers Section */
#wl-volunteers {
    position: relative;
    z-index: 1;
    background: #ffffff;
}

.wl-volunteers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    min-height: 184px;
}

.wl-volunteers-wrapper {
    flex: 1 0 10%;
}

.wl-volunteers-wrapper img {
    width: 100%;
}

/* Signs and Ranking Section */
#wl-signs-and-ranking {
    background: #ffffff;
}

.wl-signs-and-ranking-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
    padding-bottom: 25px;
}

.wl-signs-and-ranking-wrapper {
    position: relative;
}

.wl-signs-and-ranking-wrapper .wl-section-title {
    padding: 0 15px;
}

.wl-signs-and-ranking-wrapper .wl-section-description {
    margin-top: 60px;
}

/* Sign Section */
.wl-signs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.wl-signs-wrapper {
    flex: 1 0 33%;
    padding: 3px;
}

.sign-modal .sign-name {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.sign-modal .created-by {
    font-size: 18px;
}

.sign-video-container video {
    height: 100%;
    width: 100%;
}

/* Ranking Section */
.wl-ranking-header-wrapper {
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.wl-ranking-header-wrapper:first-child {
    padding-left: 15px;
}

.wl-ranking-header-wrapper:last-child {
    padding-right: 15px;
}

.wl-ranking-header-wrapper:last-child .title {
    border-right: 0;
}

.wl-ranking-header {
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
}

.wl-ranking-header.-active {
    border-bottom: 1px solid #bb6a1a;
}

.wl-ranking-header a {
    text-decoration: none;
}

.wl-ranking-header .title {
    color: #2d2d2d;
    margin-bottom: 10px;
    border-right: 1px solid #ccc;
}

.wl-ranking-header.-active .title {
    color: #bb6a1a;
    font-weight: bold;
}

.wl-ranking-container {
    padding: 15px;
    color: #bb6a1a;
}

.wl-rank {
    padding-bottom: 20px;
}

.wl-rank .star-wrapper {
    position: absolute;
    margin-top: -2px;
    height: 14px;
}

.wl-rank .position-wrapper {
    padding-left: 30px;
}

/* VLibras section */
#wl-vlibras {
    position: relative;
    z-index: 1;
    background: #f4f4f4;
}

#wl-vlibras .wl-section-title {
    position: static;
    margin-top: -20px;
}

.wl-vlibras-container {
    padding-top: 25px;
    padding-bottom: 60px;
}

.wl-vlibras-description {
    margin-bottom: 40px;
}

.wl-vlibras-description .title {
    margin-bottom: 20px;
}

.wl-vlibras-video {
    width: 100%;
    height: 100%;
}

/* Sponsors section */
#wl-sponsors {
    position: relative;
    z-index: 1;
    background: white;
}

.wl-sponsors-container {
    text-align: center;
    padding: 50px 0;
}

.wl-sponsors-container a {
    text-decoration: none;
}

.wl-sponsors-container img {
    margin-right: 35px;
    margin-bottom: 20px;
}

.wl-sponsors-container a:last-child {
    margin-right: 0;
}

/* Sponsors section */
#wl-contact {
    position: relative;
    z-index: 1;
    background: #0042b1;
}

.wl-contact-container {
    text-align: center;
    padding: 35px 0;
}

.wl-contact-description {
    color: white;
    line-height: 32px;
    padding: 65px 0;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
    .wl-section-title {
        top: -22px;
        font-size: 24px;
    }
    .wl-section-title .title {
        width: 360px;
        margin: 0 auto;
        padding: 6px 0;
    }

    /* Features */
    .wl-features-container {
        padding-top: 0;
        padding-bottom: 0;
    }

    /* Signs and Ranking */
    .wl-signs-and-ranking-wrapper {
        flex: 1;
        position: relative;
    }

    .wl-signs-and-ranking-wrapper .wl-section-title .title {
        width: 100%;
    }

    .wl-signs-and-ranking-wrapper .wl-section-title {
        padding: 0 50px;
    }

    .wl-signs-and-ranking-wrapper {
        padding: 0 15px;
    }

    .wl-rank .position-wrapper {
        padding-left: 50px;
    }

    .wl-ranking-header-wrapper:first-child {
        padding-left: 30px;
    }

    /* VLibras section */
    .wl-vlibras-container {
        padding-top: 50px;
    }
    .wl-vlibras-description {
        margin-bottom: 0;
        margin-top: 50px;
    }
}

@media screen and (min-width: 992px) {
    #wl-header .container, #wl-overview .container,
        #wl-vlibras .container {
        width: 970px;
    }
}
