#encoding: UTF-8

= include_videojs_assets

- content_for :js do
  = javascript_include_tag "v_libras/videos/index"

.breadcrumb
  %h3= t('videos.list')

.well
  - @videos.in_groups_of(3, false) do |group|
    .row-fluid.text-center.videos-row
      - for video in group
        .span4
          .ribbon-wrapper-green
            .ribbon-content
              = link_to html5_video_tag(video.url_mp4, 'video-vlibras', '', '{ "controls": false, "autoplay": true }'), video
            - unless video.seen
              .ribbon-green Novo

          %div
            %span
              = link_to video.url_mp4, class: "btn btn-success" do
                = content_tag(:span, '', :class => 'icon-download icon-white')
                Baixar

            %span
              = link_to content_tag(:span, '', :class => 'icon-trash icon-white'),  v_libras_video_path(video), method: :delete,
                class: "btn btn-danger", data: { confirm: t('shared.confirm_delete') }


  .row-fluid.text-center.pagination
    .row12
      = paginate @videos


- if @requests.any?
  .breadcrumb.requests
    %h4= t('requests.list')

  .well
    .row-fluid
      .span8.offset2
        %table.table.table-hover.table-striped.table-requests
          %thead
            %tr
              %th Situação
              %th Vídeo
              %th Criado há

          - @requests.each do |request|
            %tr
              %td.span2= request_status_label(request)
              %td.span5= request.video_filename
              %td.span5= time_ago_in_words(request.created_at)


- if params['video-wait']
  #modal-wait.modal.fade
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h3 Aguarde...
    .modal-body
      = html5_video_tag(['/system/videos/aguarde.mp4'], 'video-wait', 'video-instructions auto-margin',
        '{ "preload": true, "controls": false, "autoplay": true, "loop": true }')

    .modal-footer
      %a.btn{"aria-hidden" => "true", "data-dismiss" => "modal", href: "#"} Fechar

  - content_for :javascript_code do
    :javascript
      current_user = #{current_user.id};

      $(function () {
        $('#modal-wait').modal();
      })
