{% extends "base.html" %}
{% set active_page = "support" %}

{% block content %}
<div class="container">
    <h1><strong>Unauthorized</strong></h1>
    <p class="lead">You are not authorized to access the URL requested. You either supplied the wrong credentials (e.g. a bad password), or your browser doesn't understand how to supply the credentials required.</p>
</div>
{% endblock %}
