{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  {{ helper.render_project_local_nav(project, 'tasks', current_user)}}
  {{ helper.render_loading(loading_text) }}
  <div class="container">
    {{helper.render_project_title(project, upload_method, subtitle=_('Import tasks')) }}
    {% if form %}
    <h2>{{_('From a Google Docs Spreadsheet')}}</h2>
    <form class="form-horizontal" method="post" action="{{ url_for(target, short_name=project.short_name) }}">
      {{ form.hidden_tag() }}
      <p>
        {{ _('Please provide a URL to a Google Drive Spreadsheet with data for') }} {{ active_project }}. <br/> {{ _('For more information, please look at') }}
        <a href="http://docs.pybossa.com/en/latest/user/overview.html#importing-the-tasks-via-the-built-in-csv-task-creator" target="_blank">{{ _('the documentation') }}.</a>
      </p>
      {{ render_field(form.googledocs_url, class_="form-control", placeholder=_('The URL of the Google Docs Spreadsheet')) }}
      <input id="submit" type="submit" value="{{_('Import')}}" class="btn btn-primary">
      <a href="{{ url_for('project.tasks', short_name=project.short_name) }}" class="btn btn-default">{{_('Cancel')}}</a>
    </form>
    {% endif %}
  </div>
<script>
    $("#submit").off('click').on('click', function(){
        $("#loading").show();
    });
</script>
{% endblock %}
