<!DOCTYPE html>
<html>
<head>
  <title>VLibras-Vídeo</title>
  <%= javascript_include_tag "application" %>
  <%= yield :js %>

  <%= yield :javascript_code %>

  <%= yield :css %>
  <%= stylesheet_link_tag  "application", :media => "all" %>

  <%= yield :css_code %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script type="text/javascript">
      document.createElement('video');document.createElement('audio');document.createElement('track');
  </script>
</head>

<body>
<%= render 'layouts/menu' %>

<div class="container-fluid">
  <% if content_for?(:menu) %>
  <div class="breadcrumb">
    <%= yield :menu %>
  </div>
  <% end %>

    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

  <footer>
    <p>VLibras-Vídeo - <%= t('shared.project') %>
      <a href="http://www.vlibras.com.br" target="_blank">LAVID</a> |
      &copy; <%= Time.now.year %>. <%= t('shared.copyright') %>.</p>
  </footer>
</div>


<%= yield :bottom %>

</body>
</html>
