<link rel="stylesheet" href="{{ server }}/css/main.css">

<script src="{{ server }}/js/external-libs/jquery.ui.widget.js"></script>
<script src="{{ server }}/js/external-libs/jquery.iframe-transport.js"></script>
<script src="{{ server }}/js/external-libs/jquery.fileupload.js"></script>
<script src="{{ server }}/js/external-libs/moment.js"></script>
<script src="{{ server }}/js/external-libs/js.cookie.js"></script>
<script src="{{ server }}/js/helpers/pybossa-api-helper.js"></script>
<script src="{{ server }}/js/helpers/load-html-helper.js"></script>
<script src="{{ server }}/js/helpers/video-helper.js"></script>
<script src="{{ server }}/js/ranking.js"></script>
<script src="{{ server }}/js/corretor.js"></script>

<div id="loading-container">
	<img src="{{ server }}/img/loading.gif">
</div>

<div id="alert-container" class="container">
	<div class="row">
		<div id="success" class="alert alert-success" style="display: none;">
			<a class="close" data-dismiss="alert" href="#">×</a> <strong>Parabéns!</strong>
			<span>Tarefa concluída.</span>
		</div>
		<div id="finish" class="alert alert-success" style="display: none;">
			<a class="close" data-dismiss="alert" href="#">×</a> <strong>Que
				pena,</strong><span> não há mais tarefas disponíveis!</span><br />
			<div class="alert-actions small">
				<a class="btn" href="/">Voltar</a> ou olhar <a class="btn"
					href="/pybossa/project">outros projetos.</a>
			</div>
		</div>
	</div>
</div>

<div id="main-container" class="container body-container">
	<!--div id="corretor-header">
		<table id="table-1" class="table-responsive borderless">
			<thead">
				<tr>
					<th>NOME DO SINAL</th>
					<th>SELO DO SINAL</th>
					<th>DATA DE SUBMISSÃO</th>
					<th>ÚLTIMA EDIÇÃO</th>
					<th>NÚMERO DE CORREÇÕES</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><b><span class="sign-label"></span></b></td>
					<td><span id="sign-seal">WIKILIBRAS</span></td>
					<td><span id="submission-date"></span></td>
					<td><span id="last-edit-date">-</span></td>
					<td><span id="number-of-fixes">-</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="line-separator"></div-->

	<div id="corretor-navbar" class="row">
		<div class="col-sm-12 navbar-container">
			<div class="btn btn-warning ranking-button pull-right"
				onclick="ranking.toggle()">Ver Ranking</div>
		</div>
	</div>
	<div id="corretor-container" class="row">
		<div id="avatar-container" class="col-sm-6">
			<div class="row">
				<h6>
					ANIMAÇÃO ATUAL "<span class="sign-label"></span>":
				</h6>
			</div>
			<div class="row video-container">
				<video id="avatar-video" preload="metadata"
					class="video-body" autoplay loop controls>
				</video>
			</div>
			<div class="row link-container">
				<a id="blend-link" href="" class="btn btn-default" download>DOWNLOAD
					ARQUIVO DE ANIMAÇÃO .BLENDER <img
					src="{{ server }}/img/blender.svg"
					style="width: 22px; height: 22px"></img>
				</a>
			</div>
			<div id="upload-container" class="row">
				<h6 id="upload-msg">ENVIAR ARQUIVO DE ANIMAÇÃO BLENDER
					CORRIGIDO:</h6>
				<div id="upload-button-container" class="col-sm-3">
					<form id="upload-form" method="post" enctype="multipart/form-data">
						<input id="file-upload" type="file" name="file" />
					</form>
					<div id="upload-button" class="enabled-button">
						<img id="upload-icon" class="icon"
							src="{{ server }}/img/paperclip.svg"></img>ENVIAR
					</div>
				</div>
				<span id="upload-file-name" class="col-sm-5">Escolha um
					arquivo</span>
				<div id="upload-progress-container" class="col-sm-4">
					<div id="upload-progress" class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="0"
							aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="ref-container" class="col-sm-6">
			<div class="row">
				<h6>
					VÍDEO DE REFERÊNCIA “<span class="sign-label"></span>”:
				</h6>
			</div>
			<div class="row video-container">
				<video id="ref-video" preload="metadata" class="video-body"
					autoplay loop controls>
				</video>
			</div>
			<div class="row link-container">
				<a id="ref-video-link" href="" class="btn btn-default" download>DOWNLOAD
					VÍDEO DE REFERÊNCIA DO SINAL <img
					src="{{ server }}/img/download.svg"
					style="width: 22px; height: 22px"></img>
				</a>
			</div>
			<div id="finish-task-container" class="row">
				<div id="approval-button" class="finish-task-button enabled-button">
					<span>APROVAR</span><img class="icon"
						src="{{ server }}/img/finish.svg"></img>
				</div>
				<div id="finish-button" class="finish-task-button disabled-button">
					<span>FINALIZAR</span><img class="icon"
						src="{{ server }}/img/finish.svg"></img>
				</div>
				<div id="fix-button" class="finish-task-button enabled-button">
					CORRIGIR<img class="icon" src="{{ server }}/img/fix.png"></img>
				</div>
				<div id="skip-button" class="finish-task-button enabled-button">
					PULAR<img class="icon" src="{{ server }}/img/skip.svg"></img>
				</div>
			</div>
		</div>
	</div>
	<div id="ranking-container" class="row"></div>
</div>

<script type="text/javascript">
	corretor.run("{{ server }}", "{{ server_backend }}", "{{ app_shortname }}", "{{ api_db_host }}");
</script>
