<div class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Fechar">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Bem-vindo ao WikiLibras</h4>
			</div>
			<div class="modal-body">
				<h5 class="tutorial-info">
					Veja como você pode contribuir.
					</h4>
					<iframe width="570" height="315"
						src="http://www.youtube.com/embed/AFRxTpNJc4I?controls=2&showinfo=0">
					</iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div>
	</div>
</div>