.breadcrumb
  %h2 Cadastrar Usuário

.row-fluid
  //.span5.well
  //= html5_video_tag('/system/videos/cadastro.mp4', 'video-vlibras', 'video-instructions',
  //  :autoplay => 'autoplay', :loop => 'loop')

  .span8.well.offset2
    %h2 Dados do Usuário

    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

      .row-fluid
        = f.error_notification
        .span6
          = f.input :name, :label => "Nome", :required => true, :autofocus => true
          = f.input :email, :required => true
          = f.input :password, :required => true, :label => "Senha"
          = f.input :password_confirmation, :required => true, :label => "Confirmar Senha"
        .span6
          = f.input :address, :label => "Endereço", :input_html => { :rows => 4 }
          = f.input :zipcode,:label => "CEP"
          = f.input :phone, :label => "Telefone"

      .row{ :style => "margin-top: 20px;" }
        .span12
          %center
            %p= f.button :submit, "Cadastrar", :class => "btn btn-large btn-primary"
