#size-step.wrapper
  .video_wrapper

  = html5_video_tag(['/system/videos/workflow/tamanho.mp4'],
        'id-3', 'video-wizard', '{ "preload": "none", "controls": false }')


- content_for :javascript_code do
  :javascript
    $(function () {
      var optionsSize = {
          video: { width: 940, height: 530 },
          buttons: [ { id: 'btn-red-light4', path: '/system/images/video/red-button.png', clickable: false, start: 0.1, end: 5, x: 440, y: 516, delay: 300, value: null },
                     { id: 'btn-green-light4', path: '/system/images/video/green-button.png', clickable: false, start: 5, end: 999, x: 440, y: 512, delay: 300, value: null },
                     { id: 'b1_size_small', path: '/system/images/size/p_1.png', clickable: false, start: 3.8, end: 5, x: 603, y: 379, delay: 300, value: null },
                     { id: 'b1_size_med', path: '/system/images/size/p_2.png', clickable: false, start: 4.2, end: 5, x: 543, y: 339, delay: 300, value: null },
                     { id: 'b1_size_big', path: '/system/images/size/p_3.png', clickable: false, start: 4.6, end: 5, x: 473, y: 293, delay: 300, value: null},
                     { id: 'b2_size_small', path: '/system/images/size/p_1.png', clickable: true, start: debugTime(5), end: 9999, x: 603, y: 379, delay: 300, value: "small" },
                     { id: 'b2_size_med', path: '/system/images/size/p_2.png', clickable: true, start: debugTime(5), end: 9999, x: 543, y: 339, delay: 300, value: "medium" },
                     { id: 'b2_size_big', path: '/system/images/size/p_3.png', clickable: true, start: debugTime(5), end: 9999, x: 473, y: 293, delay: 300, value: "large" }
          ]
      };

      var VLibrasSize = new VLibrasLocalization();
      VLibrasSize.init("#size-step", optionsSize);
    });
