#video-step.wrapper
  .video_wrapper

  = html5_video_tag(['/system/videos/workflow/video.mp4'],
    'video-video', 'video-wizard', '{ "autoplay": true, "controls": false } ')

  .row-fluid.hide
    .span1.offset3
      = label_tag :video, t('videos.url'), :class => "bold"

    .span5
      = file_field_tag 'video', :id => 'video-upload',
        :accept => '.flv, .ts, .avi, .mp4, .mov, .webm, .wmv, .mkv'

.hide
  = image_tag '/system/images/video/red-button.png'
  = image_tag '/system/images/video/green-button.png'

- content_for :javascript_code do
  :javascript
    $(function () {
      var optionsVideo = {
          video: { width: 940, height: 530 },
          buttons: [ { id: 'btn-red-light1', path: '/system/images/video/red-button.png', clickable: false, start: 0.1, end: 17, x: 440, y: 516, delay: 100, value: null },
                     { id: 'btn-green-light1', path: '/system/images/video/green-button.png', clickable: false, start: 17, end: 999, x: 440, y: 512, delay: 100, value: null },
                     { id: 'btn-video-upload', path: '/system/images/video/p_1.png', clickable: true, start: debugTime(17), end: 9999, x: 415, y: 410, delay: 100 }
          ]
      };

      var VLibrasVideo = new VLibrasLocalization();
      VLibrasVideo.init("#video-step", optionsVideo);
    });
