- content_for :js do
  = javascript_include_tag "v_libras/requests/shared"
  = javascript_include_tag "v_libras/requests/rapid"

#vlibras-rapid.row-fluid
  .span4.offset4.login
    %h2
      = t('videos.new')

    = form_tag v_libras_requests_path, method: :post, :multipart => true, :id => 'vlibras-rapid-form' do |f|
      - if @request.errors.any?
        #error_explanation
          %p/
          %h4
            = pluralize(@request.errors.count, "erro")
            impede o vídeo de ser salvo:
          %ul
            - @request.errors.full_messages.each do |msg|
              %li.error= msg

      .field.hide
        = label_tag :service, t('videos.video_type'), :class => 'bold'

        %label.radio
          = radio_button_tag :service, 'video-legenda', true, :id => 'service-video-subtitle'
          Vídeo e legenda (.srt)

      #url.field
        = label_tag :video, t('videos.url'), :class => "bold"

        %span.btn.fileinput-button
          %i.icon-film
          %span.button-text Escolha o vídeo...
          = file_field_tag :video, :prompt => "Arquivo de vídeo", :id => 'video-upload',
            :accept => '.flv, .ts, .avi, .mp4, .mov, .webm, .wmv, .mkv'

      #legend.field
        = label_tag :subtitle, t('videos.subtitle'), :class => "bold"

        %span.btn.fileinput-button
          %i.icon-list-alt
          %span.button-text Escolha a legenda...
          = file_field_tag :subtitle, :prompt => "Arquivo de legenda", :id => 'subtitle-upload',
            :accept => '.srt'

      .field
        = label_tag 'params[tamanho]', t('videos.window_size'), :class => "bold"
        = select_tag 'params[tamanho]', options_for_select([['Pequena', 'small'], ['Média', 'medium'], ['Grande', 'large']])

      .field
        %p
          %b
            = label_tag 'params[posicao]',  t('videos.window_position'), :class => "bold"
            = select_tag 'params[posicao]', options_for_select([[t('videos.top_left'),
              'top_left'], [t('videos.top_right'), 'top_right'],
              [t('videos.bottom_right'),'bottom_right'], [t('videos.bottom_left'), 'bottom_left']])

      .field.hide
        = label_tag 'params[transparencia]', t('videos.transparency'), :class => "bold"
        = select_tag 'params[transparencia]', options_for_select([['Opaco', 'opaco'], ['Transparente', 'transparente']])

      .progress.progress-striped.active.hide{:style => 'position: relative;'}
        #upload-bar.bar
        #upload-label.center{:style => 'position: absolute; width: 100%; font-size: 12px;'}

      = button_tag "Confirmar", :class => "btn btn-success btn-large actions", :id => 'submit-button'
