<div class="well">
  <h6><i class="glyphicon glyphicon-link"></i> CSV</h6> 
  <p>{{_('Provide a public link to your own CSV file')}}</p>
  <p><a href="{{url_for(target, short_name=project.short_name,
      type='csv')}}" class="btn btn-default">{{_('Use the CSV URL
      importer')}}</a></p>
</div>
