<div class="well">
    <h6><i class="glyphicon glyphicon-link"></i> {{_('EpiCollect Plus Project')}}</h6> 
    <p>{{_('Use an EpiCollect Plus project')}}</p>
  <p><a href="{{url_for(target, short_name=project.short_name,
      type='epicollect')}}" class="btn btn-default">{{_('Use the EpiCollect
      Plus importer')}}</a></p>
</div>
