<div class="well">
    <h6><i class="glyphicon glyphicon-picture"></i> {{_('Image Pattern Recognition')}}</h6> 
    <p>{{_('Re-use the Flickr Person Finder tasks')}}</p>
  	<p><a href="{{url_for('project.import_task', short_name=project.short_name,
      type='gdocs', template='image')}}" class="btn btn-default">{{_('Use the
      Image tasks')}}</a></p>
</div>
