<div class="well">
    <h6><i class="glyphicon glyphicon-globe"></i> {{_('Geo-coding')}}</h6> 
    <p>{{_('Re-use the Urban Park tasks')}}</p>
  <p><a href="{{url_for('project.import_task', short_name=project.short_name,
      type='gdocs', template='map')}}" class="btn btn-default">{{_('Use the
      Mapping tasks')}}</a></p>
</div>
