<div class="well">
    <h6><i class="glyphicon glyphicon-pencil"></i> {{_('Transcribing documents')}}</h6> 
    <p>{{_('Re-use the PDF transcription tasks')}}</p>
  	<p><a href="{{url_for('project.import_task', short_name=project.short_name,
      type='gdocs', template='pdf')}}" class="btn btn-default">{{_('Use the
      Transcription tasks')}}</a></p>
</div>
