<div class="well">
    <h6><i class="glyphicon glyphicon-link"></i> {{_('Google Drive Spreadsheet')}}</h6> 
    <p>{{_('Import a Google Drive Spreadsheet')}}</p>
  <p><a href="{{url_for(target, short_name=project.short_name,
      type='gdocs')}}" class="btn btn-default">{{_('Use the Google Drive
      importer')}}</a></p>
</div>
