<div class="well" style="min-height:211px;">
  <h6><i class="glyphicon glyphicon-edit"></i> {{ _('Basic') }}</h6>
  <p>{{ _('The most basic template') }}</p>
  <p>{{ _('Complexity') }}: <i class="glyphicon glyphicon-star"></i></p>
  <p>{{ _('Skills') }}: {{ _('HTML and JavaScript') }}</p>
  <p><a href="{{url_for('project.task_presenter_editor', short_name=project.short_name, template='basic')}}" class="btn btn-default">{{ _('Use the Basic template') }}</a></p>
</div>
