<div class="selection-panel-body" mainConfig="facial" subConfig="duracao" step="1">
	<div class="panel-header">
		<h8>Duração da Expressão</h8>
	</div>
	<div class="single-column-option-container">
		<div class="single-column-option">
			<video
				preload="metadata" value="lento"
				class="video-panel-option selection-panel-option" autoplay loop>
				<source src="{{ server }}/img/exf/duration-slow.webm" type="video/webm">
				<source src="{{ server }}/img/exf/duration-slow.mp4" type="video/mp4">
		</div>
		<img class="single-column-option"
			src="{{ server }}/img/long-duration-icon.png" /> Longa
	</div>
	<div class="single-column-option-container">
		<div class="single-column-option">
			<video
				preload="metadata" value="normal"
				class="video-panel-option selection-panel-option" autoplay loop>
				<source src="{{ server }}/img/exf/duration-normal.webm" type="video/webm">
				<source src="{{ server }}/img/exf/duration-normal.mp4" type="video/mp4">
		</div>
		<img class="single-column-option"
			src="{{ server }}/img/normal-duration-icon.png" /> Normal
	</div>
	<div class="single-column-option-container">
		<div class="single-column-option">
			<video
				preload="metadata" value="rapido"
				class="video-panel-option selection-panel-option" autoplay loop>
				<source src="{{ server }}/img/exf/duration-fast.webm" type="video/webm">
				<source src="{{ server }}/img/exf/duration-fast.mp4" type="video/mp4">
		</div>
		<img class="single-column-option"
			src="{{ server }}/img/short-duration-icon.png" /> Breve
	</div>
</div>
<script type="text/javascript">
	facial.setup('duracao');
</script>