<div class="selection-panel-body" mainConfig="{{ hand }}"
	subConfig="plano" step="1">
	<div class="panel-header">
		<h8>Escolha o plano do movimento</h8>
	</div>
	<div class="selection-panel-inner-body">
		<ul class="rig columns-2">
			<li><video
					preload="metadata" value="baixo-esquerda"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-baixo-esquerda.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-baixo-esquerda.mp4" type="video/mp4">
				</video>Baixo - Direita</li>
			<li><video
					preload="metadata" value="cima-direita"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-cima-direita.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-cima-direita.mp4" type="video/mp4">
				</video>Cima - Esquerda</li>
			<li><video
					preload="metadata" value="direita-baixo"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-direita-baixo.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-direita-baixo.mp4" type="video/mp4">
				</video>Esquerda - Baixo</li>
			<li><video
					preload="metadata" value="esquerda-cima"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-esquerda-cima.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-esquerda-cima.mp4" type="video/mp4">
				</video>Direita - Cima</li>
			<li><video
					preload="metadata" value="baixo-tras"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-baixo-tras.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-baixo-tras.mp4" type="video/mp4">
				</video>Baixo - Trás</li>
			<li><video
					preload="metadata" value="cima-frente"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-cima-frente.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-cima-frente.mp4" type="video/mp4">
				</video>Cima - Frente</li>
			<li><video
					preload="metadata" value="frente-baixo"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-frente-baixo.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-frente-baixo.mp4" type="video/mp4">
				</video>Frente - Baixo</li>
			<li><video
					preload="metadata" value="tras-cima"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-tras-cima.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-tras-cima.mp4" type="video/mp4">
				</video>Trás - Cima</li>
			<li><video
					preload="metadata" value="frente-direita"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-frente-direita.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-frente-direita.mp4" type="video/mp4">
				</video>Frente - Esquerda</li>
			<li><video
					preload="metadata" value="tras-esquerda"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-tras-esquerda.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-tras-esquerda.mp4" type="video/mp4">
				</video>Trás - Direita</li>	
			<li><video
					preload="metadata" value="direita-tras"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-direita-tras.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-direita-tras.mp4" type="video/mp4">
				</video>Esquerda - Trás</li>
			<li><video
					preload="metadata" value="esquerda-frente"
					class="box-panel-option selection-panel-option" autoplay>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-esquerda-frente.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/plano-esquerda-frente.mp4" type="video/mp4">
				</video>Direita - Frente</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	defaultConfigurationHandler.setup("{{ hand }}", "plano", "1");
	defaultConfigurationHandler.startVideoLoop("{{ hand }}", "plano", "1", 1000);
</script>
