@import url("ranking.css");

@font-face {
	font-family: 'Titillium Web';
	src: url('../fonts/titilliumweb/TitilliumWeb-SemiBold.ttf')
		format('truetype');
}

#alert-container {
	padding: 0px;
}

#alert-container .alert-actions a {
	padding: 10px 0 10px 0px;
}

#alert-container .alert-actions .btn {
	vertical-align: baseline;
}

#main-container {
	font-family: 'Titillium Web', sans-serif;
}

/* Navbar */
#validador-navbar {
	padding-top: 10px;
}

#validador-navbar .ranking-button {
	font-size: 20px;
	font-weight: bold;
}

/* Validador */
.video-body {
	height: 338px;
	width: 85%;
	background-color: #000000;
}

.video-container {
	padding-left: 40px;
	padding-right: 0px;
}

.row {
	margin-left: 0%;
	margin-right: 0%;
}

.line-separator, .btn-default {
	box-shadow: 2px 2px 2px rgba(215, 217, 221, 1.0);
	-webkit-box-shadow: 2px 2px 2px rgba(215, 217, 221, 1.0);
	-moz-box-shadow: 2px 2px 2px rgba(215, 217, 221, 1.0);
}

#validador-header {
	padding-left: 15px;
}

#validador-header .validador-question {
	margin-top: 0px;
}

.body-container {
	background: rgba(236, 238, 242, 1.0);
	padding: 0px 0px 10px 0px;
}

.line-separator {
	height: 2px;
	width: 100%;
	background-color: rgba(145, 200, 206, 1.0);
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(144, 164, 174, 1.0);
}

h6 {
	font-size: 20px;
}

.btn-default {
	background-color: rgba(94, 199, 189, 1.0);
}

.btn-default {
	color: rgba(255, 255, 255, 1.0);
}

.icon {
	width: 50px;
	height: 50px;
}

#finish-task-container {
	padding-right: 15px;
}

.finish-padding-top {
	padding-top: 10px;
}

.finish-padding-top-adjust {
	padding-top: 70px;
}

.finish-task-button {
	float: right;
	padding-bottom: 0px;
	padding-left: 25px;
	color: rgba(94, 199, 189, 1.0);
}

.enabled-button:hover {
	cursor: pointer;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

.disabled-button {
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

.radio-options span {
	padding-right: 5px;
}

.radio-options input[type=radio] {
	width: 18px;
	height: 18px;
}

.correct-answer-container {
	padding-right: 10px;
	float: left;
}

.correct-answer-label {
	color: #5fc64e;
}

.incorrect-answer-label {
	color: #ec2327;
}

#comment-ref {
	display: none;
	padding-right: 40px;
}

#comment-avatar {
	display: none;
}

.mask {
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

#loading-container {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
}

#loading-container img {
	position: absolute;
	width: 80px;
	top: 37%;
	left: 47%;
}