@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}

#ranking-container {
	display: none;
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-right: 0px;
	overflow: hidden;
	font-family: 'Roboto';
	padding-left: 15px;
    margin: 10px 15px 5px 15px;
}

#ranking-info-container {
	padding-left: 0px;
}

#ranking-info-container .title {
	color: #000000;
	font-size: 50px;
}

#ranking-info-container .avatar-info {
	text-align: center;
	padding-top: 30px;
}

#ranking-info-container .avatar-container {
	display: none;
}

#ranking-info-container .avatar-info img {
	width: 100%;
}

#ranking-info-container .achievement-info {
	color: #028c12;
}

#ranking-info-container .progress-container {
	padding-left: 100px;
	margin-top: 10px;
}

#ranking-info-container .achievements-container {
	position: relative;
	padding: 10px 0px 0px 0px;
	word-wrap: break-word;
}

#ranking-info-container .progress-label {
	position: absolute;
	left: 0px;
}

#ranking-info-container .done-tasks {
	color: #84DC76;
}

#ranking-info-container .total-tasks {
	color: #f0ad4e;
}

#ranking-info-container .tooltip-inner {
	font-size: 16px;
	max-width: 220px;
}

#leaderboard-container {
	background-color: #fefcfc;
	padding: 0px;
	min-height: 560px;
}

#leaderboard-container table {
	margin-bottom: 0px;
}

#leaderboard-container  .table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f1f2f2;
}

#leaderboard-container  .table-striped>tbody>tr:hover {
	background-color: #e0e0e0;
}

#leaderboard-container  .table-striped>tbody>tr.highlight {
	background-color: #fbefa3;
}

#leaderboard-container  .table-striped>tbody>tr.highlight:hover {
	background-color: #f7e783;
}

#leaderboard-container  th {
	text-align: center;
	border: 0px;
	padding-bottom: 15px;
}

#leaderboard-container  td {
	text-align: center;
	border: 0px;
}

#leaderboard-container  td:nth-of-type(1), #leaderboard-container  td:nth-of-type(2)
	{
	width: 75px;
}

#leaderboard-container  td:nth-of-type(2), #leaderboard-container  th:nth-of-type(2),
	#leaderboard-container  td:nth-of-type(3), #leaderboard-container  th:nth-of-type(3)
	{
	text-align: left;
}

#leaderboard-container  th:nth-of-type(3) img {
	padding-left: 20px;
}