{% macro render_pagination(pagination, handle) %}
  <nav>
      <ul class="pagination">
        {% if pagination.has_prev %}
          <li>
          <a href="{{ url_for_other_page(pagination.page - 1)
              }}" rel="nofollow">&laquo; {{_('Prev')}} {{handle}}</a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#" aria-label="{{_('Prev')}}" aria-label="{{_('Prev')}}"><span aria-hidden="true">&laquo; {{_('Prev')}} {{handle}}</span></a>
          </li>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li>
              <a href="{{ url_for_other_page(page) }}" rel="nofollow">{{ page }}</a>
             </li>
            {% else %}
            <li class="active">
                <a href="#">{{ page }}</a>
            </li>  
            {% endif %}
          {% endif %}
        {%- endfor %}
        {% if pagination.has_next %}
          <li>
          <a href="{{ url_for_other_page(pagination.page + 1)
              }}" rel="nofollow">{{_('Next')}} {{handle}} &raquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <a href="#" aria-label="{{_('Next')}}"><span aria-hidden="true">{{_('Next')}} {{handle}} &raquo;</span></a>
          </li>
        {% endif %}
    </ul>
  </nav>
{% endmacro %}

{% macro render_project_local_nav(project, active_link, current_user) -%}
<div class="container-fluid navbar-sub">
  <div class="container">
    <ul class="nav nav-pills nav-justified nav-pills-inverse">
      <li role="presentation" {% if active_link=="info"%}class="active"{% endif %}><a href="{{url_for('project.details', short_name=project.short_name)}}">{{_('Info')}}</a></li>
    <!--
    <li role="presentation" {% if active_link=="contribute"%}class="active"{% endif %}><a href="{{url_for('project.presenter', short_name=project.short_name)}}">{{_('Contribute')}}</a></li>
    -->
    <li role="presentation" {% if active_link=="stats"%}class="active"{% endif %}><a href="{{url_for('project.show_stats', short_name=project.short_name)}}">{{_('Statistics')}}</a></li>
    <!--
    <li role="presentation" {% if active_link=="blog"%}class="active"{% endif %}><a href="{{url_for('project.show_blogposts', short_name=project.short_name)}}">{{_('Blog')}}</a></li>
    -->
    {% if ( current_user.is_authenticated() and current_user.id == project.owner_id ) or current_user.admin %}
    <li role="presentation" {% if active_link=="tasks"%}class="active"{% endif %}><a href="{{url_for('project.tasks', short_name=project.short_name)}}">{{_('Tasks')}}</a></li>
    <li role="presentation" {% if active_link=="settings"%}class="active"{% endif %}><a href="{{url_for('project.settings', short_name=project.short_name)}}">{{_('Settings')}}</a></li>
    {% endif %}
    </ul>
  </div>
</div>
{% endmacro %}

{% macro render_project_summary(project, n_tasks, overall_progress, last_activity, current_user, upload_method) -%}
<div class="row">
    <div class="col-sm-3">
        {{ render_project_thumbnail(project, upload_method, class='img-thumbnail', width='100%') }}
    </div>
    <div class="col-sm-9">
      <ul class="list-unstyled">
        {% if current_user.id == project.owner_id %}
        <li><strong><i class="glyphicon glyphicon-cog"></i> {{ _('ID') }}</strong>: {{ project.id }}</li>
        {% endif %}
        <li><strong><i class="glyphicon glyphicon-info-sign"></i> {{ _('Description') }}</strong>: {{ project['description'] }}</li>
        <li><strong><i class="glyphicon glyphicon-ok"></i> {{ _('Creation Date') }}</strong>: {{ project.created[0:10] }}</li>
        <li><strong><i class="glyphicon glyphicon-time"></i> {{ _('Last Activity') }}</strong>: {{ last_activity}}</li>
        <li><strong><i class="glyphicon glyphicon-cog"></i> {{ _('Overall progress') }}</strong>: {{ overall_progress | round | int }}% {{ _('completed') }}</li>
        <li><strong><i class="glyphicon glyphicon-tasks"></i> <a href="{{url_for('project.tasks',short_name=project.short_name)}}">{{ _('Tasks') }}</strong></a> ({{ n_tasks }})</li>
        {% if not current_user.is_anonymous() %}
        <li>{% if project.hidden == 1 %}
            <i class="icon icon-eye-close"></i> <strong>{{ _('Hidden') }}</strong>: {{ _('Yes') }}
        {% else %} 
            <i class="icon icon-eye-open"></i> <strong>{{ _('Hidden') }}</strong>: {{ _('No') }}
        {% endif %}
        </li>
        {% endif %}
      </ul>
    </div>
</div>
{% endmacro %}

{% macro render_project_short_summary(project, upload_method) -%}
<div class="well">
    <div class="row">
        <div class="col-md-3">
            {{ render_project_thumbnail(project, upload_method, class="img-thumbnail", style="width:100%") }}
        </div>
        <div class="col-md-9">
            <h2><a href="{{url_for('project.settings', short_name=project.short_name)}}">{{project.name}}</a></h2>
            <p>{{ project['description'] }}</p>
            <a class="btn btn-default" href="{{url_for('project.settings', short_name=project.short_name)}}"><i class="glyphicon glyphicon-wrench"></i> {{ _('Settings') }}</a>
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_project_admin_featured(project, upload_method) -%}
<div class="well">
    <div class="row">
        <div class="col-md-3">
            {{ render_project_thumbnail(project, upload_method, class="img-thumbnail", style="width:100%") }}
        </div>
        <div class="col-md-9">
            <h2><a href="{{url_for('project.settings', short_name=project.short_name)}}">{{project.name}}</a></h2>
            <p>{{ project['description'] }}</p>
            <a class="btn btn-default" href="{{url_for('project.settings', short_name=project.short_name)}}"><i class="glyphicon glyphicon-wrench"></i> {{ _('Settings') }}</a>
            {% if project.featured %}
            <button id="projectBtnDel{{project.id}}" class="btn btn-danger" onclick="del({{project.id}})">
                <i id="project{{project.id}}" class="glyphicon glyphicon-remove"></i> {{ _('Remove from Featured!') }}
            </button>
            <button id="projectBtnAdd{{project.id}}" class="btn btn-primary" onclick="add({{project.id}})" style="display:none;">
                <i id="project{{project.id}}" class="glyphicon glyphicon-plus"></i> {{ _('Add to Featured!') }}
            </button>
            {% else %}
            <button id="projectBtnAdd{{project.id}}" class="btn btn-primary" onclick="add({{project.id}})">
                <i id="project{{project.id}}" class="glyphicon glyphicon-plus"></i> {{ _('Add to Featured!') }}
            </button>
            <button id="projectBtnDel{{project.id}}" class="btn btn-danger" onclick="del({{project.id}})" style="display:none;">
                <i id="project{{project.id}}" class="glyphicon glyphicon-remove"></i> {{ _('Remove from Featured!') }}
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}


{% macro show_project(project, active_cat, current_user, upload_method) %}
<div class="col-sm-6 col-md-4">
  <div class="tile-extended">
    {{ render_project_thumbnail(project, upload_method, class='tile-extended-image', width='100%') }}
    <div class="tile-title"><a href="{{ url_for('project.details', short_name = project.short_name) }}">{{ project.name }}</a></div>
    <div class="tile-text">
        <br>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ project.overall_progress | round | int }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: {{ project.overall_progress | round | int }}%;">
                {{ project.overall_progress | round | int }}%
            </div>
        </div>
    </div>
    <a class="btn btn-primary btn-large btn-block" href="{{ url_for('project.details', short_name = project.short_name) }}">{{ _('Contribute') }}</a>
  </div>
</div>
{%- endmacro %}

{% macro broken_image() %}
<script>
function imgError(image) {
    image.onerror = "";
    image.src = "{{url_for('static', filename='img/placeholder.project.png')}}";
    if (arguments[1] === 'user') {
        image.src = "{{url_for('static', filename='img/placeholder.user.png')}}";
    }
    return true;
}
</script>
{% endmacro %}

{% macro knob(val) %}
<script src="{{url_for('static', filename='js/vendor/jquery.knob.js')}}"></script>
<script>
    $(function() {
        $(".dial").knob({
            'min': 0,
            'max': 100,
            'skin': 'tron',
            'fgColor': '#8bbf36',
            'inputColor': '#8bbf36',
            'readOnly': true,
            'thickness': .2,
            'width': 40,
            'height': 40,
            'displayInput': false,
        });
        $(".dial").css('font-size', '26px');
        $(".dial").css('font-weight', 'bold');
    });
</script>
{% endmacro %}

{% macro render_project_title(project, upload_method, subtitle=None) %}
<h1>{{ project.name }}{% if subtitle %} <small>{{subtitle}}</small>{% endif %}</h1>
{% endmacro %}

{% macro render_overall_progress(project, n_tasks, overall_progress, show_contribute_btn=True, show_n_tasks=False) %}
<div class="row">
    <div class="col-md-1"><input type="text" value="{{overall_progress | round |int}}" class="dial"></div>
    <h2><strong> {{_('Overall progress')}}</strong>: {{ overall_progress | round | int }}% {{_('completed')}}
        {% if show_contribute_btn %}
            {{ render_contribute_button(project) }}
        {% elif show_n_tasks %}
            <span class="pull-right"><strong>{{n_tasks}}</strong> {{_('Tasks')}}</span>
        {% endif %}
    </h2>
</div>
{% endmacro %}

{% macro render_contribute_button(project) %}
    {% if project['contrib_button'] == 'completed' %}
    <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-primary pull-right"><i class="icon-thumbs-up" style="color:white;"></i> {{ _('Done! View results') }}</a>
    {% endif %}
    {% if project['contrib_button'] == 'can_contribute' %}
    <a href="{{ url_for('project.presenter', short_name=project.short_name)}}" class="btn btn-primary pull-right"><i class="icon-thumbs-up" style="color:white;"></i> {{ _('Start Contributing Now!') }}</a>
    {% endif %}
    {% if project['contrib_button'] == 'cannot_contribute' %}
    <a href="{{url_for('project.details', short_name=project.short_name)}}" class="btn btn-primary pull-right"><i class="icon-thumbs-up" style="color:white;"></i> {{ _('Thanks for contributing') }}</a>
    {% endif %}
    {% if project['contrib_button'] == 'draft' %}
    <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-primary pull-right"><i class="icon-thumbs-up" style="color:white;"></i> {{ _('Draft project, complete it!') }}</a>
    {% endif %}
{% endmacro %}

{% macro render_grid_projects(projects, title, upload_method) %}
<h2>{{title}}</h2>
<div class="row">
    {% for project in projects %}
    <div class="col-sm-6 col-md-2 text-center">
        <a href={{ url_for('project.details', short_name=project.short_name)}} rel="popover" data-toggle="popover" data-content="{{project.name}}">
            {{ render_project_thumbnail(project, upload_method, class='img-thumbnail', style="min-height:100px; min-width:100px;")}}
        </a>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro render_loading(text) %}
<div class="row">
    <div class="col-md-12">
        <div id="loading" class="alert alert-info" style="display:none;">
            <img src="{{url_for('static', filename='img/loading.gif')}}"/> {{text}}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_project_thumbnail(project, upload_method, id, class, style, width) %}
{% if project.info.container %}
    {% if upload_method == 'rackspace'%}
    <img id="{{id}}" class="{{class}}" width="{{width}}" src="{{ url_for('rackspace', filename=project.info.thumbnail, container=project.info.container)}}" style="{{style}}" onerror="imgError(this);">
    {% else %}
    <img id="{{id}}"  class="{{class}}" width="{{width}}" src="{{ url_for('uploads.uploaded_file', filename=(project.info.container + '/' + project.info.thumbnail))}}" style="{{style}}" onerror="imgError(this);">
    {% endif %}
{% elif project.info.thumbnail %}
    <img id="{{id}}" class="{{class}}" width="{{width}}" src="{{project.info.thumbnail}}" style="{{style}}" onerror="imgError(this);">
{% else %}
    <img id="{{id}}" class="{{class}}" width="{{width}}" src="{{url_for('static', filename='img/placeholder.project.png')}}" style="{{style}}">
{% endif %}
{% endmacro %}

{% macro render_url_thumbnail(project, upload_method) %}
{% if project.info.container %}
    {% if upload_method == 'rackspace'%}
    {{ url_for('rackspace', filename=project.info.thumbnail, container=project.info.container)}}"
    {% else %}
    {{ url_for('uploads.uploaded_file', filename=(project.info.container + '/' + project.info.thumbnail))}}
    {% endif %}
{% elif project.info.thumbnail %}
    {{project.info.thumbnail}}"
{% else %}
{{url_for('static', filename='img/placeholder.project.png')}}"
{% endif %}
{% endmacro %}

{% macro render_project_banner(project, overall_progress, show_contribute_btn) %}
<div class="app-banner">
    <div class="container">
        <h1 class="title-main">{{ render_project_title(project) }}</h1>

        <div class="row">
            <div class="col-sm-3 col-progress">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ overall_progress | round | int }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ overall_progress | round | int }}%;">
                  </div>
                </div>
            </div>
            <div class="col-sm-9">
               {{ overall_progress | round | int }}% {{_('completed')}}
            </div>
        </div>

        <p>{{ project.description }}</p>

        {% if show_contribute_btn and project.contrib_button %}
            <div class="app-call-to-action">
                <a href="{{ url_for('project.presenter', short_name=project.short_name)}}" class="btn btn-danger btn-lg">{{ _('Start Contributing Now!') }}</a>
            </div>
        {% else %}
            <div class="app-call-to-action">&nbsp;
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}
