{% extends "/base.html" %}
{% set active_page = "projects" %}

{% import "projects/_helpers.html" as helper %}

{% block content %}
<script src="{{url_for('static', filename='js/vendor/isotope.pkgd.min.js')}}"></script>

<div class="container">

  {% if projects %}
    <div class="projects clearfix">
      {% for project in projects %}
        {{ helper.show_project(project, active_cat.short_name, current_user, upload_method) }}
      {% endfor %}
    </div>
    {% if pagination.pages > 1 %}
        {{ helper.render_pagination(pagination) }}
    {% endif %}
  {% else %}
    <h6><i class="glyphicon glyphicon-th"></i> {{pagination.total_count}} {{ active_cat.name }} Projects</h6>
    <p>{{_('Sorry, there are no published projects for this category yet')}}</p>
  {% endif %}
{{ helper.broken_image() }}
<script>
$( function() {
  // init Isotope
  /*var $container = $('.projects').isotope({
    itemSelector: '.project-item',
    layoutMode: 'fitRows',
    getSortData: {
      date: '.date',
      activity: '.activity',
      progress: '.progress parseInt',
    },
    sortAscending: {
        progress: false,
        activity: false,
    }
  });*/

  // bind sort button click
  $('#sorts').on( 'click', 'a', function() {
    var sortValue = $(this).attr('data-sort-value');
    $container.isotope({ sortBy: sortValue });
    if (sortValue == 'original-order') {
        $("#order").text('name');
    }
    else {
        $("#order").text(sortValue);
    }
  });

  // change is-checked class on buttons
  $('.dropdown-toggle').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });

});
</script>
</div>{% endblock %}
