{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{{ helper.render_project_local_nav(project, 'contribute', current_user) }}

<div class="container">
{% from "_formhelpers.html" import render_field %}
<div id="project-form" class="row"> 
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        {{ helper.render_project_title(project) }}
        <h2>{{ _('Enter the password to contribute to this project:') }}</h2>
    <form class="form-horizontal" method="post" action="{{ url_for('project.password_required', short_name=short_name, next=next) }}">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ form.password(class="form-control", placeholder=_('Project password')) | safe}}
            <div class="form-actions">
                <a href="{{ url_for('home.home') }}" class="btn btn-default">{{ _('Cancel') }}</a>
                <button type="submit" name='btn' value="New" class="btn btn-primary">{{ _('Submit') }}</button>
            </div>
        </fieldset>
    </form>
    </div>
</div>
{{ helper.broken_image() }}
{{ helper.knob() }}
</div>
{% endblock %}
