{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "settings" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

    {{ helper.render_project_local_nav(project, 'info', current_user) }}

    <div class="container container-main">
        {% if project %}
        {{helper.render_project_title(project, upload_method, subtitle=_('Settings')) }}
        {{ helper.render_project_summary(project, n_tasks, overall_progress, last_activity, current_user, upload_method) }}
        <h3>{{ _('Project Settings') }}</h3>
        <div class="btn-group btn-group-justified" role="group">
            <a class="btn btn-primary btn-lg" href="{{ url_for('project.update', short_name = project.short_name) }}"><i class="glyphicon glyphicon-edit"></i> {{ _('Edit the project details') }}</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('project.task_settings', short_name = project.short_name) }}"><i class="glyphicon glyphicon-wrench"></i> {{ _('Task Settings') }}</a>
            <a class="btn btn-primary btn-lg" href="{{ url_for('project.new_blogpost', short_name = project.short_name) }}"><i class="glyphicon glyphicon-pencil"></i> {{ _('Write a blog post') }}</a>
            <a class="btn btn-danger btn-lg" href="{{ url_for('project.delete', short_name = project.short_name) }}"><i class="glyphicon glyphicon-trash"></i> {{ _('Delete the project') }}</a>
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>Ooops</strong> {{ _('Sorry! This project does not exist.') }}
        </div>
        {% endif %}
    </div>
{{ helper.broken_image() }}
{% endblock %}
