{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = project.short_name %}
{% import "projects/_helpers.html" as helper %}

{% block content %}
{% from "_formhelpers.html" import render_field %}

    {{ helper.render_project_local_nav(project, 'tasks', current_user)}}
    <div class="container">
        {{ helper.render_project_title(project, subtitle=_('Import Tasks'))}}
        <p>
            {{_('Use one of the following available')}} <strong>{{_('importers')}}</strong> {{_('to import tasks...')}}
        </p>
        {% for row in available_importers | batch(2) %}
        <div class="row">
            {% for importer in row %}
            <div class="col-md-6">
                {% include importer %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <p>
            {{_('... or import a set of') }} <strong>{{_('template tasks')}}</strong> {{ ('for any of the template projects.')}}
        </p>
        {% for row in task_tmpls | batch(2) %}
        <div class="row">
            {% for task_tmpl in row %}
            <div class="col-md-6">
              {% include task_tmpl %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
