{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_project  = "all" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{{ helper.render_project_local_nav(project, 'tasks', current_user) }}

<div class="container">
{% if project %}
    {{ helper.render_project_title(project, upload_method, subtitle=_('Browse tasks')) }}
    <hr>
    <p>{{_('This page shows all the available tasks for this project')}}.</p> 
    <p>{{_('For each task, you can find the following information')}}:
      <ul>
          <li><strong>{{_('Task')}} </strong><span class="label label-info">#0000</span> {{_('This number identifies the task for the project and it is unique')}}</li>
          <li><strong>0 of 30</strong>: {{_('The first number shows how many answers have been submitted for the task and the')}} <a data-placement="top" rel="tooltip" href="#" data-original-title="{{_('This redundancy method will help to detect errors, typos, data forging, etc. when the task has been completed')}}">{{_('second number')}}</a> {{_('how many need to be obtained to mark the task as')}} <strong>{{_('completed')}}</strong>. </li>
          <li><strong>{{_('Progress Bar')}}</strong>: {{_('The progress bar will the percentage that has been completed for the task')}}.</li>
      </ul>
    </p>
    <hr>
    {% for t in tasks %}
    {% set task_pct = t.pct_status*100 %}
    <div class="row">
        <div class="col-md-2">
            <p>
                {% if task_pct >= 100 %}
                {{_('Task')}} <span class="label label-success">#{{ t.id }}</span>
                {% else %}
                {{_('Task')}} <span class="label label-info">#{{ t.id }}</span>
                {% endif %}
                {{ t.n_task_runs }} {{_('of')}} {{ t.n_answers }}
            </p>
        </div>
        <div class="col-md-7">
            {% if task_pct >= 100 %}
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ task_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task_pct }}%;">
                    {{ task_pct | round(1) }}%
                </div>
            </div>
            {% else %}
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ task_pct }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task_pct }}%;">
                    {{ task_pct | round(1) }}%</span>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if task_pct >= 100 %}
            <a id="fulldownload" rel="nofollow" class="btn btn-sm btn-block btn-success" href="{{ url_for('project.export', 
                short_name=project.short_name,
                task_id=t.id) }}"><i class="glyphicon glyphicon-cloud-download"></i> {{_('Download Task Results')}}</a>
            {% elif task_pct > 0 and task_pct < 100 %}
            <a id="partialdownload" rel="nofollow" class="btn btn-sm btn-block btn-info" href="{{ url_for('project.export', 
                short_name=project.short_name,
                task_id=t.id) }}"><i class="glyphicon glyphicon-cloud-download"></i> {{_('Download Partial results')}}</a>

            {% else %}
            <a id="nothingtodownload" rel="nofollow" class="btn btn-sm btn-block btn-info disabled" href="#"><i class="glyphicon glyphicon-cloud-download"></i> {{_('Nothing to download yet')}}</a>
            {% endif %}
        </div>
    </div>
    <br>
    {% endfor %}
{{ helper.render_pagination(pagination, _('Tasks')) }}
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This project does not exist.')}}.</h1>
  </div>
{% endif %}
<script>
    $("a[rel=tooltip]").tooltip();
</script>
{{ helper.broken_image() }}
</div>{% endblock %}
