{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "tasks" %}
{% import "projects/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

{{ helper.render_project_local_nav(project, 'tasks', current_user) }}
<div class="container">
{% if project %}
    {{ helper.render_project_title(project, subtitle=_('Task Redundancy')) }}
    <form id="task_redundancy" class="form-horizontal" method="post" action="{{ url_for('project.task_n_answers', short_name=project.short_name) }}">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_field(form.n_answers, class_="form-control", placeholder= _('The number of answers per tasks that you want for the project')) }}
            <div class="form-actions">
                <input type="submit" value={{_('Set redundancy')}} class="btn btn-primary" />
                <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-default">{{_('Cancel')}}</a>
            </div>
        </fieldset>
    </form>
{% else %}
  <div class="page-header">
      <h1>{{_('Sorry! This project does not exist.')}}.</h1>
  </div>
{% endif %}
</div>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
