{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "tasks" %}
{% import "projects/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

{{ helper.render_project_local_nav(project, 'tasks', current_user) }}

<div class="container">
{% if project %}
    {{ helper.render_project_title(project, subtitle=_('Task Priority'))}}
    <p>{{_('You can change the')}} <strong>{{_('priority')}}</strong> {{_('of one or more tasks, providing a list of task IDs separated by commas. The lowest priority is')}} <span class="badge badge-warning">0.0</span> {{_('and the highest priority is')}} <span class="badge badge-info">1.0</span>.</p>
    <p>
        <span class="label label-info"><i class="glyphicon glyphicon-bullhorn"></i>
        {{_('Important')}}</span> {{_('The priority value is only respected by the')}} <strong>{{_('default scheduler')}}</strong>.
    </p>
    <form id="task_priority" class="form-horizontal" method="post" action="{{ url_for('project.task_priority', short_name=project.short_name) }}">
        {{ form.hidden_tag() }}
            <fieldset>
                {{ render_field(form.task_ids, placeholder=_('separated Comma Task.IDs i.e.: 3, 532, 100'))}}
                {{ render_field(form.priority_0, class_="col-md-4", placeholder=_('Priority value between 0.0 and 1.0'))}}
                <div class="form-actions">
                    <input type="submit" value={{_('Change Priority')}} class="btn btn-primary" />
                    <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-default">{{_('Cancel')}}</a>
                </div>
            </fieldset>
        </form>
{% else %}
  <div class="container">
      <h1>{{_('Sorry! This project does not exist.')}}.</h1>
  </div>
{% endif %}
</div>
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
