{% extends "/base.html" %}
{% set active_page = "projects" %}
{% import "projects/_helpers.html" as helper %}

{% block content %}

{% from "_formhelpers.html" import render_field %}
{{ helper.render_project_local_nav(project, 'tasks', current_user) }}

<script src="{{url_for('static', filename='vendor/codemirror/codemirror.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='vendor/codemirror/codemirror.css')}}"/>
<script src="{{url_for('static', filename='vendor/codemirror/mode/xml/xml.js')}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/javascript/javascript.js')}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/css/css.js')}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/htmlmixed/htmlmixed.js')}}"></script>
<style>
    iframe {
        height:800px;
        width: 100%;
    }
    .CodeMirror {
        width: 700px;
      }
</style>
<div class="container">
    <!-- Task Presenter Editor -->
    <h1><strong>{{project.name}}</strong>: {{ _('Task Presenter Editor') }} <a class="btn btn-default pull-right" href="http://docs.pybossa.com/en/latest/overview.html#task-presenter"><i class="glyphicon glyphicon-book"></i> {{ _('Help') }}</a></h1>
    <br>
    <form class="form-horizontal" method="post" action="{{ url_for('project.task_presenter_editor', short_name=project.short_name) }}">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_field(form.editor)}}
            <div class="form-actions">
                <input type="submit" value="{{ _('Update the project task presenter') }}" class="btn btn-primary" />
                <a href="#" class="btn btn-default btn-preview" value="preview">{{ _('Preview the task presenter') }}</a>
                <a href="{{url_for('project.settings', short_name=project.short_name)}}" class="btn btn-default">{{ _('Cancel') }}</a>
            </div>
        </fieldset>
    </form>
</div>
<div id="modal-preview" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">{{ _('&times;') }}</button>
                <h4 class="modal-title"><strong>{{project.name}}</strong>: {{ _('Task Presenter Preview') }}</h4>
            </div>
            <div class="modal-body">
                <section id="output">
                    <iframe></iframe>
                </section>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
(function() {
var render = function(presenterSource) {
    var source = prepareSource(presenterSource);

    var iframe = document.querySelector('#output iframe'),
        iframeDoc = iframe.contentDocument;

    iframeDoc.open();
    iframeDoc.location.hash='_';
    iframeDoc.write(source);
    iframeDoc.close();
};

function prepareSource(presenterSource) {

    var bootstrapCSS = "{{url_for('static', filename='vendor/bootstrap.min.css')}}",
        fontsCSS = "{{url_for('static', filename='css/fonts/stylesheet.css')}}",
        stylesCSS = "{{url_for('static', filename='css/styles.css')}}",
        jQuery = "{{url_for('static', filename='vendor/jquery-1.11.3.min.js')}}",
        bootstrapJS = "{{url_for('static', filename='vendor/bootstrap/3.3.5/js/bootstrap.js')}}",
        modernizr = "{{url_for('static', filename='vendor/modernizr.min.js')}}",
        pybossa = "{{url_for('static', filename='js/pybossa/pybossa.js')}}",

        baseTemplate =
        "<!doctype html>\n" +
        "<html>\n\t" +
        "<head>\n\t\t" +
        "<meta charset=\"utf-8\">\n\t\t" +
        "<title></title>\n\n\t\t\n\t" +
        "<link href=\""+bootstrapCSS+"\" rel=\"stylesheet\" type=\"text/css\">" +
        "<link href=\""+fontsCSS+"\" rel=\"stylesheet\" type=\"text/css\">" +
        "<link href=\""+stylesCSS+"\" rel=\"stylesheet\" type=\"text/css\">" +
        "<link href=\"//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css\" rel=\"stylesheet\">" +
        "<script type=\"text/javascript\" src=\""+jQuery+"\"></sc" + "ript>" +
        "<script type=\"text/javascript\" src=\""+bootstrapJS+"\"></sc" + "ript>" +
        "<script type=\"text/javascript\" src=\""+modernizr+"\"></sc" + "ript>" +
        "</head>\n\t" +
        "<body>\n\t\n\t" +
        "<script type=\"text/javascript\" src=\""+pybossa+"\"></sc" + "ript>" +
        "<div class=\"container project col-md-12\">" +
        "<div class=\"project-content row\">" +
        presenterSource +
        "</div>" +
        "</div>" +
        "<div id='PYBOSSA_USER_LOCALE' hidden>en</div>" +
        "<script type=\"text/javascript\">pybossa.saveTask=function(id,answer){alert('Task '+id+' saved with answer data: '+answer+'. This is a sandbox environment and the answers will not be saved to the database!');var def=$.Deferred();def.resolve();return def;};</sc" + "ript>" +
        "</body>\n" +
        "</html>";

    return baseTemplate;
}

var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
    mode:'text/html',
    lineNumbers: true,
    autofocus: true
});

function showPreview() {
    render(editor.getValue());
    $("#modal-preview").modal('show');
}
$(".btn-preview").off('click').on('click', function(){
    showPreview();
});

})();
</script>
{% endblock %}
