{% extends "/base.html" %}
{% set active_page = "projects" %}
{% set active_link  = "tasks" %}
{% import "projects/_helpers.html" as helper %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
{% if project %}
{{ helper.render_project_local_nav(project, 'tasks', current_user) }}
<div class="container">
    {{ helper.render_project_title(project, subtitle=_('Task Scheduler'))}}
    <p>{{_('You can choose from the following schedulers')}}:</p>
    <ul>
        <li><strong>{{_('Default')}}</strong> {{_('or')}}
        <strong>{{_('Depth First')}}</strong>: {{_('returns a task that
        has not been completed (the value of number of answers has
        not achieved) excluding the current user')}}.</li>
        <li><strong>{{_('Breadth First')}}</strong>: {{_('returns a
        task which has the least number of task runs (answers)
        excluding the current user')}}.</li>
        <li><strong>{{_('Random')}}</strong>: {{_('returns a task
        randomly --a user could get the same task twice or more
        times')}}.</li>
    </ul>

    <form id="task_scheduler" class="form-horizontal" method="post" action="{{ url_for('project.task_scheduler', short_name=project.short_name) }}">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ render_field(form.sched, class_="col-md-4", 
            placeholder="Task scheduler for your rpoject")}}
            <div class="form-actions">
                <input type="submit" value={{_('Set redundancy')}} class="btn btn-primary" />
                <a href="{{url_for('project.tasks', short_name=project.short_name)}}" class="btn btn-default">{{_('Cancel')}}</a>
            </div>
        </fieldset>
    </form>
</div>
{% else %}
<div class="container">
    <h1>{{_('Sorry! This project does not exist.')}}.</h1>
</div>
{% endif %}
{{ helper.broken_image() }}
{{ helper.knob() }}
{% endblock %}
