$ribbonUpperColor: #2A632B;
$ribbonBottomColor: #6D972D;

.ribbon-wrapper-green {
  margin: 10px auto;
  width: 205px;
  height: 165px;
  overflow: hidden;
  top: -3px;
  right: -3px;

  padding-top: 3px;
}

.ribbon-content img {
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

  width: 200px;
  height: 160px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 1) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 5px 0;
  left: 122px;
  bottom: 148px;
  width: 110px;

  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from($ribbonUpperColor), to($ribbonBottomColor));
  background-image: -webkit-linear-gradient(top, $ribbonUpperColor, $ribbonBottomColor);
  background-image:    -moz-linear-gradient(top, $ribbonUpperColor, $ribbonBottomColor);
  background-image:     -ms-linear-gradient(top, $ribbonUpperColor, $ribbonBottomColor);
  background-image:      -o-linear-gradient(top, $ribbonUpperColor, $ribbonBottomColor);
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}