@import url("ranking.css");

@font-face {
	font-family: 'Titillium Web';
	src: url('../fonts/titilliumweb/TitilliumWeb-SemiBold.ttf')
		format('truetype');
}

#alert-container {
	padding: 0px;
}

#alert-container .alert-actions a {
	padding: 10px 0 10px 0px;
}

#alert-container .alert-actions .btn {
	vertical-align: baseline;
}

#main-container {
	font-family: 'Titillium Web', sans-serif;
}

/* Navbar */
#corretor-navbar {
	padding-top: 10px;
}

#corretor-navbar .navbar-container {
	padding-right: 0px;
}

#corretor-navbar .ranking-button {
	font-size: 20px;
	font-weight: bold;
}

/* Corretor */
#corretor-container {
	padding-top: 15px;
}

#corretor-container h6 {
	margin-top: 0px;
	font-size: 20px;
}

.video-body {
	width: 100%;
	height: 100%;
	background-color: #000000;
}

#corretor-container .video-container {
	height: 380px;
	padding: 0px;
	background-color: #000000;
	text-align: center;
}

#ref-container {
	padding-left: 40px;
}

#corretor-container .link-container {
	padding-top: 10px;
}

#avatar-container {
	padding: 0px 10px 0px 0px;
}

#ref-container {
	padding: 0px 0px 0px 10px;
}

.row {
	margin-left: 0%;
	margin-right: 0%;
}

.line-separator, .btn-default {
	box-shadow: 2px 2px 2px rgba(215, 217, 221, 1.0);
	-webkit-box-shadow: 2px 2px 2px rgba(215, 217, 221, 1.0);
	-moz-box-shadow: 2px 2px 2px rgba(215, 217, 221, 1.0);
}

#corretor-header {
	padding: 1px;
	background: rgba(255, 255, 255, 1.0);
}

.body-container {
	background: rgba(236, 238, 242, 1.0);
	padding-bottom: 15px;
}

.table-responsive {
	border: none;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
}

.table-responsive th {
	border: none;
	color: rgba(112, 111, 111, 1.0);
	text-align: center;
}

.table-responsive td {
	border: none;
	color: rgba(94, 199, 189, 1.0);
	text-align: center;
}

.line-separator {
	height: 2px;
	width: 100%;
	background-color: rgba(145, 200, 206, 1.0);
}

h1, h2, h3, h4, h5, h6 {
	color: rgba(144, 164, 174, 1.0);
}

/* Upload */
.btn-default, .progress-bar {
	background-color: rgba(94, 199, 189, 1.0);
}

.btn-default {
	color: rgba(255, 255, 255, 1.0);
}

.progress-bar {
	height: 100%;
}

.progress {
	background-color: rgba(218, 228, 232, 1.0);
	height: 7px;
}

#upload-container {
	padding-top: 10px;
}

#upload-form {
	display: none;
}

#upload-form-container {
	padding-left: 0px;
	float: left;
}

#upload-button-container {
	padding-left: 0px;
	padding-right: 0px;
}

#upload-button {
	font-size: 18px;
	padding: 0px;
	margin-left: -6px;
	color: rgba(94, 199, 189, 1.0);
}

.icon {
	width: 50px;
	height: 50px;
}

#upload-file-name {
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 7px 11px 7px 0px;
	color: #9e9fa0;
	font-style: italic;
}

#upload-progress-container {
	padding: 22px 0;
}

#upload-progress {
	margin-bottom: 0px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

#upload-msg {
	margin-bottom: 5px;
}

#finish-task-container {
	padding-top: 40px;
}

#fix-button {
	display: none;
}

#approval-button {
	display: none;
}

.finish-task-button {
	float: right;
	padding-bottom: 0px;
	padding-left: 25px;
	color: rgba(94, 199, 189, 1.0);
}

.enabled-button:hover {
	cursor: pointer;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

.disabled-button {
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

.mask {
	filter: alpha(opacity = 50);
	opacity: 0.5;
}

#loading-container {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
}

#loading-container img {
	position: absolute;
	width: 80px;
	top: 37%;
	left: 47%;
}