{% extends "/base.html" %}
{% set active_page = "leaderboard" %}
{% set active_project  = "all" %}
{% import "privacy/locked.html" as privacy %}

{% block content %}<div class="container">
<!-- Leaflet maps -->
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
 <![endif]-->

<link href="{{url_for('static', filename='css/stats/stats.css')}}" rel="stylesheet" type="text/css">
<script src="{{url_for('static', filename='js/stats/flotr2.min.js')}}" type="text/javascript"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
<link href="{{url_for('static', filename='css/stats/MarkerCluster.css')}}" rel="stylesheet" type="text/css">
<link href="{{url_for('static', filename='css/stats/MarkerCluster.Default.css')}}" rel="stylesheet" type="text/css">
<script src="{{url_for('static', filename='js/stats/leaflet.markercluster.js')}}" type="text/javascript"></script>

<style>
h3 {
    font-size: 20px;
}

h3 > small {
    font-size: 20px;
}
</style>

<div class="row">
    <div class="col-md-12">
        {% if enforce_privacy and (current_user.is_anonymous() or (current_user.is_authenticated and not current_user.admin)) %}
        {{ privacy.render_lock_page() }}
        {% else %}
        <h1><strong>{{brand}}</strong>: {{ _('General Statistics') }}</h1>
        <br/>
            <!-- Users Stats CARD -->
            <div id="card" class="row">
                <div id="userStats" class="col-md-12 well">
                    <h2>Users</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{ _('Anonymous users') }}: <small>{{stats.n_anon}}</small></h3>
                            <h3>{{ _('Authenticated users') }}: <small>{{stats.n_auth}}</small></h3>
                            <h3>{{ _('Total') }}: {{stats.n_total_users}}</h3>
                            <a class="btn btn-primary btn-lg" href="{{url_for('leaderboard.index')}}"><i class="glyphicon glyphicon-trophy" style="color:white"></i> {{ _('Leaderboard') }}</a>
                            {% if top5_users_24_hours %}
                            <hr>
                            <h4><i class="glyphicon glyphicon-group"></i> {{ _('Top 5 Users in the last 24 hours') }}</h4>
                                <ol>
                                {% for user in top5_users_24_hours %}
                                <li><a href="{{url_for('account.profile', name=user.name)}}" >{{user.fullname}}</a> {{ _('with') }} {{user.n_answers}} {{ _('contributed answers') }}</li>
                                {% endfor %}
                                </ol>
                            {% else %}
                            <hr>
                            <h4>{{ _('No active users in the last 24 hours') }}</h4>
                            {% endif %}
                        </div>
                        <div id="users" class="col-md-6" style="height:400px;"></div>
                        <script>
                        (function(){
                            var data = {{users|safe}};
                            var container = document.getElementById('users');
                            var graph = Flotr.draw(container, [
                                {data:[data['values'][0]['value']], label:data['values'][0]['label']},
                                {data:[data['values'][1]['value']],  label:data['values'][1]['label']}], 
                                {
                                pie     : {show: true, explode: 2},
                                grid    : {verticalLines: false, horizontalLines: false, outlineWidth: 0},
                                HtmlText: false,
                                xaxis   : {showLabels: false},
                                yaxis   : {showLabels: false},
                                legend  : {position: 'se'}
                            });
                        })();
                        </script>
                    </div>
                </div>
            </div>
            <!-- END Users Stats CARD -->

            <!-- Project Stats CARD -->
            <div id="card" class="row">
                <div id="projectStats" class="col-md-12 well">
                    <h2>{{ _('Projects') }}</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{ _('Published Projects') }}: <small>{{stats.n_published_projects}}</small></h3>
                            <h3>{{ _('Draft Projects') }}: <small>{{stats.n_draft_projects}}</small></h3>
                            <h3>{{ _('Total') }}: {{stats.n_total_projects}}</h3>
                            {% if top5_projects_24_hours %}
                            <hr>
                            <h4><i class="glyphicon glyphicon-th-large"></i> {{ _('Top 5 projects in the last 24 hours') }}</h4>
                                <ol>
                                {% for project in top5_projects_24_hours %}
                                <li><a href="{{url_for('project.details', short_name=project.short_name)}}">{{project.name}}</a></li>
                                {% endfor %}
                                </ol>
                            {% else %}
                            <hr>
                            <h4>{{ _('No active projects in the last 24 hours') }}</h4>
                            {% endif %}
                        </div>
                        <div id="projects" class="col-md-6" style="height:400px;"></div>
                     <script>
                        (function(){
                            var data = {{projects|safe}};
                            var container = document.getElementById('projects');
                            var graph = Flotr.draw(container, [
                                {data:[data['values'][0]['value']], label:data['values'][0]['label']},
                                {data:[data['values'][1]['value']],  label:data['values'][1]['label']}], 
                                {
                                pie     : {show: true, explode: 2},
                                grid    : {verticalLines: false, horizontalLines: false, outlineWidth: 0},
                                HtmlText: false,
                                xaxis   : {showLabels: false},
                                yaxis   : {showLabels: false},
                                legend  : {position: 'se'}
                            });
                        })();
                        
                        </script>
                    </div>
                </div>
            </div>
            <!-- END Users Stats CARD -->

            <!-- Projects Task and TaskRuns CARD -->
            <div id="card" class="row">
                <div id="taskStats" class="col-md-12 well">
                    <h2>{{ _('Tasks and Answers') }}</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>{{ _('Number of Tasks') }}: <small>{{stats.n_tasks}}</small></h3>
                            <h3>{{ _('Number of Task Runs') }}: <small>{{stats.n_task_runs}}</small></h3>
                        </div>
                        <div id="tasks" class="col-md-6" style="height:400px;"></div>
                     <script>
                        (function(){
                            var data = {{tasks|safe}};
                            var container = document.getElementById('tasks');
                            var graph = Flotr.draw(container, [
                                {data:[data['values'][0]['value']], label:data['values'][0]['label']},
                                {data:[data['values'][1]['value']],  label:data['values'][1]['label']}], 
                                {
                                bars : {show: true},
                                grid    : {verticalLines: true, horizontalLines: true},
                                xaxis   : {showLabels: false, autoscale: true, autoscaleMargin:1},
                                yaxis   : {showLabels: true, min:0, autoscaleMargin:1},
                                legend  : {position: 'ne'}
                            });
                        })();
                        
                        </script>
                    </div>
                </div>
            </div>
            <!-- END Users Stats CARD -->
            <!-- START Anonymous Users Map CARD -->
            {% if show_locs %}
            <div id="card" class="row">
                <div class="col-md-12 well">
                    <h2>{{ _('Anonymous Volunteers') }}</h2>
                    <div id="map" style="height:250px;"></div>
                    <p class="note">{{_('This page includes GeoLite data created by MaxMind, available from')}}
                    <a href="http://www.maxmind.com">http://www.maxmind.com</a></p>
                </div>
                <script>
                    (function(){
                    var map = L.map('map');
                    map.fitWorld();
                    map.setZoom(1);
                    var url = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png'
                    L.tileLayer(url, 
                        {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                        maxZoom: 18,
                        minZoom:1
                        }).addTo(map);

                    var i = 0;
                    var locations = {{locs|safe}};
                    var l = locations.length;
                    var markers = new L.MarkerClusterGroup();
                    for (i;i<l;i++) {
                        if (locations[i].loc != null) {
                            var lat = parseFloat(locations[i].loc.latitude);
                            var lng = parseFloat(locations[i].loc.longitude);
                            markers.addLayer(L.marker([lat,lng]));
                        }
                    }
                    map.addLayer(markers);
                    })();
                </script>
            </div>
            {% endif %}
            <!-- END Anonymous Users Map CARD -->
        {% endif %} 
    </div>
</div>
</div>{% endblock %}
