<div class="subconfiguration-panel col-sm-12" mainConfig="{{ hand }}">
	<div class="arrow icon_container col-sm-1" name="left-arrow">
		<img src="{{ server }}/img/left-arrow-icon.png" />
	</div>
	<div class="subconfiguration-options-container col-sm-10">
		<div class="subconfiguration-options col-sm-12">
			<div class="icon_container" name="hand-moviment"
				json_name="movimento">
				<img src="{{ server }}/img/hand-moviment-icon.png" />
			</div>
			<!-- articulacao -->
			<div class="icon_container" name="hand-articulation"
				json_name="articulacao">
				<img src="{{ server }}/img/hand-articulation-icon.png" />
			</div>
			<div class="icon_container" name="hand-articulation"
				json_name="articulacao-retilineo">
				<img src="{{ server }}/img/hand-articulation-icon.png" />
			</div>
			<!-- configuracao -->
			<div class="icon_container" name="hand-fingers-position"
				json_name="configuracao">
				<img src="{{ server }}/img/hand-fingers-position-icon.png" />
			</div>
			<div class="icon_container" name="hand-fingers-position"
				json_name="configuracao-retilineo">
				<img src="{{ server }}/img/hand-fingers-position-icon.png" />
			</div>
			<!-- orientacao -->
			<div class="icon_container" name="hand-orientation"
				json_name="orientacao">
				<img src="{{ server }}/img/hand-orientation-icon.png" />
			</div>
			<div class="icon_container" name="hand-orientation"
				json_name="orientacao-retilineo">
				<img src="{{ server }}/img/hand-orientation-icon.png" />
			</div>
			<!-- plano -->
			<div class="icon_container" name="hand-moviment-plane"
				json_name="plano">
				<img src="{{ server }}/img/hand-moviment-plane-icon.png" />
			</div>
			<!-- raio -->
			<div class="icon_container" name="hand-moviment-radius"
				json_name="raio">
				<img src="{{ server }}/img/hand-moviment-radius-icon.png" />
			</div>
			<!-- velocidade -->
			<div class="icon_container" name="hand-moviment-velocity"
				json_name="velocidade">
				<img src="{{ server }}/img/hand-moviment-velocity-icon.png" />
			</div>
			<!-- sentido_inverso -->
			<div class="icon_container" name="hand-moviment-direction"
				json_name="sentido_inverso">
				<img src="{{ server }}/img/hand-moviment-direction-icon.png" />
			</div>
		</div>
	</div>
	<div class="arrow icon_container col-sm-1" name="right-arrow">
		<img src="{{ server }}/img/right-arrow-icon.png" />
	</div>
</div>
