<div class="selection-panel-body" mainConfig="{{ hand }}"
	subConfig="velocidade" step="1">
	<div class="panel-header">
		<h8>Escolha a velocidade do movimento</h8>
	</div>
	<div class="selection-panel-inner-body">
		<ul class="rig columns-2">
			<li><video
					preload="metadata" value="lento"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/velocidade-lento.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/velocidade-lento.mp4" type="video/mp4">
				</video>Lento</li>
			<li><video
					preload="metadata" value="normal"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/velocidade-normal.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/velocidade-normal.mp4" type="video/mp4">
				</video>Normal</li>
			<li><video
					preload="metadata" value="rapido"
					class="box-panel-option selection-panel-option" autoplay loop>
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/velocidade-rapido.webm" type="video/webm">
					<source src="{{ server }}/img/{{ movement-name }}/{{ hand-folder }}/velocidade-rapido.mp4" type="video/mp4">
				</video>Rápido</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	defaultConfigurationHandler.setup("{{ hand }}", "velocidade", "1");
</script>
