<div class="selection-panel-body" mainConfig="facial" subConfig="expressao" step="1">
	<div class="panel-header">
		<h8>Expressão</h8>
	</div>
	<div class="selection-panel-inner-body">
		<ul class="rig columns-3">
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0000.png" value="0" /> 1.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0001.png" value="1" /> 2.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0002.png" value="2" /> 3.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0003.png" value="3" /> 4.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0004.png" value="4" /> 5.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0005.png" value="5" /> 6.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0006.png" value="6" /> 7.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0007.png" value="7" /> 8.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0008.png" value="8" /> 9.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0009.png" value="9" />10.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0010.png" value="10" />11.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0011.png" value="11" />12.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0012.png" value="12" />13.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0013.png" value="13" />14.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0014.png" value="14" />15.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0015.png" value="15" />16.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0016.png" value="16" />17.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0017.png" value="17" />18.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0018.png" value="18" />19.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0019.png" value="19" />20.</li>
			<li><img class="box-panel-option selection-panel-option"
				src="{{ server }}/img/exf/0020.png" value="20" />21.</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
	facial.setup('expressao');
</script>